@charset "UTF-8";
/* padding */
.pt_s {
  padding-top: 2%; }
  @media screen and (min-width: 768px) {
    .pt_s {
      padding-top: 10px; } }

.pt {
  padding-top: 4%; }
  @media screen and (min-width: 768px) {
    .pt {
      padding-top: 30px; } }

.pt_l {
  padding-top: 6%; }
  @media screen and (min-width: 768px) {
    .pt_l {
      padding-top: 50px; } }

.pb_s, .headline8 {
  padding-bottom: 2%; }
  @media screen and (min-width: 768px) {
    .pb_s, .headline8 {
      padding-bottom: 10px; } }

.pb {
  padding-bottom: 4%; }
  @media screen and (min-width: 768px) {
    .pb {
      padding-bottom: 30px; } }

.pb_l {
  padding-bottom: 6%; }
  @media screen and (min-width: 768px) {
    .pb_l {
      padding-bottom: 50px; } }

/* margin */
.mt_s {
  margin-top: 2%; }
  @media screen and (min-width: 768px) {
    .mt_s {
      margin-top: 10px; } }

.mt {
  margin-top: 4%; }
  @media screen and (min-width: 768px) {
    .mt {
      margin-top: 30px; } }

.mt_l {
  margin-top: 6%; }
  @media screen and (min-width: 768px) {
    .mt_l {
      margin-top: 50px; } }

.mb_s {
  margin-bottom: 2%; }
  @media screen and (min-width: 768px) {
    .mb_s {
      margin-bottom: 10px; } }

.mb, .headline1, .headline2 {
  margin-bottom: 4%; }
  @media screen and (min-width: 768px) {
    .mb, .headline1, .headline2 {
      margin-bottom: 30px; } }

.mb_l {
  margin-bottom: 6%; }
  @media screen and (min-width: 768px) {
    .mb_l {
      margin-bottom: 50px; } }

/* font-size */
.fsize_xl, .headline1, .headline4, .headline5, .headline6 {
  font-size: 18px;
  font-size: 1.8rem; }
  @media screen and (min-width: 768px) {
    .fsize_xl, .headline1, .headline4, .headline5, .headline6 {
      font-size: 24px;
      font-size: 2.4rem; } }

.fsize_l, .headline2, .headline3, .headline7, .headline8 {
  font-size: 16px;
  font-size: 1.6rem; }
  @media screen and (min-width: 768px) {
    .fsize_l, .headline2, .headline3, .headline7, .headline8 {
      font-size: 20px;
      font-size: 2rem; } }

.fsize, .linkbtn6 a {
  font-size: 14px;
  font-size: 1.4rem; }
  @media screen and (min-width: 768px) {
    .fsize, .linkbtn6 a {
      font-size: 16px;
      font-size: 1.6rem; } }

.fsize_s, .headline7 span.date, .linkbtn1 a {
  font-size: 12px;
  font-size: 1.2rem; }
  @media screen and (min-width: 768px) {
    .fsize_s, .headline7 span.date, .linkbtn1 a {
      font-size: 14px;
      font-size: 1.4rem; } }

.fsize_xs, .headline1 span.small, .headline2 span.small, .sml {
  font-size: 10px;
  font-size: 1rem; }
  @media screen and (min-width: 768px) {
    .fsize_xs, .headline1 span.small, .headline2 span.small, .sml {
      font-size: 12px;
      font-size: 1.2rem; } }

/* テキスト用BOX pタグの下に改行が入る。 */
div.textbox p {
  margin-bottom: 1em; }
  div.textbox p:last-child {
    margin-bottom: 0; }

/********************************************************************************
　--common
*********************************************************************************/
/* --headline
************************************/
.headline1 {
  text-align: center;
  line-height: 1.2;
  letter-spacing: 3px; }

.headline1 span.small {
  display: block;
  margin-top: 5px; }

.headline2 {
  letter-spacing: 1px; }

.headline2 span.small {
  display: inline-block;
  padding-left: 10px;
  letter-spacing: 1px;
  font-weight: normal;
  line-height: 1.2; }

.headline3 {
  margin-bottom: 2%;
  border-left: 3px solid #6cbd33;
  padding-left: 10px;
  line-height: 1.4; }
  @media screen and (min-width: 768px) {
    .headline3 {
      margin-bottom: 15px; } }
  @media screen and (min-width: 1040px) {
    .headline3 {
      margin-bottom: 15px; } }

.headline4 {
  margin-bottom: 2%;
  text-align: center;
  padding-left: 10px;
  line-height: 1.4; }
  @media screen and (min-width: 768px) {
    .headline4 {
      margin-bottom: 15px; } }
  @media screen and (min-width: 1040px) {
    .headline4 {
      margin-bottom: 15px; } }

.headline4 span.underline {
  display: block;
  width: 70px;
  height: 3px;
  background: #808080;
  margin: 2% auto; }
  @media screen and (min-width: 768px) {
    .headline4 span.underline {
      margin: 15px auto; } }
  @media screen and (min-width: 1040px) {
    .headline4 span.underline {
      margin: 15px auto; } }

.headline5 {
  margin: 2% auto;
  text-align: center;
  line-height: 1.4; }
  @media screen and (min-width: 768px) {
    .headline5 {
      margin: 15px auto; } }
  @media screen and (min-width: 1040px) {
    .headline5 {
      margin: 15px auto; } }

.headline5 span.line {
  background: #f7f5e4;
  display: block;
  padding: 2%; }
  @media screen and (min-width: 768px) {
    .headline5 span.line {
      padding: 5px 10px; } }

.headline6 {
  margin: 2% auto;
  text-align: left;
  line-height: 1.4; }
  @media screen and (min-width: 768px) {
    .headline6 {
      margin: 15px auto; } }
  @media screen and (min-width: 1040px) {
    .headline6 {
      margin: 15px auto; } }

.headline6 span.underline {
  display: block;
  width: 45px;
  height: 3px;
  background: #6cbd33;
  margin: 2% 0;
  margin-right: auto; }
  @media screen and (min-width: 768px) {
    .headline6 span.underline {
      margin: 15px 0; } }
  @media screen and (min-width: 1040px) {
    .headline6 span.underline {
      margin: 15px 0; } }

.headline7 {
  margin: 2% auto;
  padding-bottom: 2%;
  border-bottom: 2px solid #e5e5e5;
  line-height: 1.4; }
  @media screen and (min-width: 768px) {
    .headline7 {
      margin: 15px auto; } }
  @media screen and (min-width: 1040px) {
    .headline7 {
      margin: 15px auto; } }
  @media screen and (min-width: 768px) {
    .headline7 {
      padding-bottom: 15px; } }

.headline7 span.title {
  display: block;
  width: 80%;
  float: left; }

.headline7 span.date {
  display: block;
  width: 20%;
  text-align: right;
  margin-top: 4px;
  float: left; }
  @media screen and (min-width: 768px) {
    .headline7 span.date {
      margin-top: 8px; } }

/* --btn
************************************/
.linkbtn1 a {
  border: 1px solid #6cbd33;
  display: inline-block;
  color: #fff !important;
  background: #6cbd33;
  padding: 3px 4%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative; }
  @media screen and (min-width: 768px) {
    .linkbtn1 a {
      padding: 8px 48px 8px 40px; } }
  .linkbtn1 a:hover {
    background: #fff;
    color: #6cbd33 !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  @media (max-width: 767px) {
    .linkbtn1 a {
      padding: 10px 4%;
      width: 70%; } }

.linkbtn1 a:after {
  position: absolute;
  top: 50%;
  right: 25px;
  display: block;
  content: "";
  width: 5px;
  height: 5px;
  margin-top: -3px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.linkbtn2 a {
  background: #c73c25;
  position: relative;
  border: 1px solid #c73c25;
  display: inline-block;
  color: #fff !important;
  padding: 10px 14% 10px 10%;
  font-size: 13px;
  font-size: 1.3rem;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; }
  @media screen and (min-width: 768px) {
    .linkbtn2 a {
      padding: 10px 70px 10px 70px; } }
  @media screen and (min-width: 768px) {
    .linkbtn2 a {
      font-size: 20px;
      font-size: 2rem; } }
  .linkbtn2 a:hover {
    background: #d7513b !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .linkbtn2 a:after {
    position: absolute;
    content: url(../images/download_icon.png);
    top: 12px;
    right: 10px; }
    @media (max-width: 767px) {
      .linkbtn2 a:after {
        top: 5px;
        right: 5px; } }

.linkbtn3 a {
  background: #777474;
  position: relative;
  border: 1px solid #777474;
  display: inline-block;
  color: #fff !important;
  padding: 10px 14% 10px 10%;
  font-size: 13px;
  font-size: 1.3rem;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; }
  @media screen and (min-width: 768px) {
    .linkbtn3 a {
      padding: 10px 70px 10px 70px; } }
  @media screen and (min-width: 768px) {
    .linkbtn3 a {
      font-size: 20px;
      font-size: 2rem; } }
  @media (max-width: 767px) {
    .linkbtn3 a {
      width: 100%;
      text-align: center; } }
  .linkbtn3 a:hover {
    background: #949292 !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .linkbtn3 a:after {
    position: absolute;
    content: url(../images/download_icon.png);
    top: 12px;
    right: 10px; }
    @media (max-width: 767px) {
      .linkbtn3 a:after {
        top: 10px;
        right: 5px; } }

.linkbtn4 a {
  background: #2687a8;
  position: relative;
  border: 1px solid #2687a8;
  display: inline-block;
  color: #fff !important;
  padding: 10px 14% 10px 10%;
  font-size: 15px;
  font-size: 1.5rem;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; }
  @media screen and (min-width: 768px) {
    .linkbtn4 a {
      padding: 10px 70px 10px 70px; } }
  @media screen and (min-width: 768px) {
    .linkbtn4 a {
      font-size: 22px;
      font-size: 2.2rem; } }
  .linkbtn4 a:hover {
    background: #20738f !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .linkbtn4 a:after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    right: 14px;
    top: 34%;
    width: 18px;
    height: 18px;
    border: 1px solid #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  .linkbtn4 a:before {
    content: "";
    position: absolute;
    right: 22px;
    top: 46%;
    width: 5px;
    height: 5px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  @media (max-width: 767px) {
    .linkbtn4 a {
      width: 100%;
      text-align: center; } }

.linkbtn6 a {
  background: #fff;
  position: relative;
  border: 1px solid #2687a8;
  display: inline-block;
  color: #2687a8 !important;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 7px 10%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  @media screen and (min-width: 768px) {
    .linkbtn6 a {
      padding: 7px 50px; } }
  .linkbtn6 a:hover {
    background: #2687a8;
    color: #fff !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .linkbtn6 a:after {
    content: '';
    position: absolute;
    right: 15px;
    top: 19px;
    width: 6px;
    height: 6px;
    border-top: 1px solid #2687a8;
    border-right: 1px solid #2687a8;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  @media (max-width: 767px) {
    .linkbtn6 a {
      width: 100%;
      text-align: center; } }

/* 　　--table
************************************/
table.style01 {
  width: 100%;
  font-size: 13px;
  font-size: 1.3rem; }
  @media screen and (min-width: 768px) {
    table.style01 {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media (max-width: 767px) {
    table.style01 {
      display: block;
      border-bottom: 1px solid #cbcbcb; } }

@media (max-width: 767px) {
  table.style01 tbody,
  table.style01 tr {
    display: block;
    width: 100%; } }

table.style01 th {
  text-align: left;
  border-bottom: 1px solid #cccccc;
  width: 100%;
  font-weight: bold;
  padding: 2% 4% 0%; }
  @media screen and (min-width: 768px) {
    table.style01 th {
      padding: 19px 30px 17px; } }
  @media (max-width: 767px) {
    table.style01 th {
      display: block;
      border-bottom: none; } }
  @media print, screen and (min-width: 768px) {
    table.style01 th {
      width: 240px;
      border-bottom: 1px solid #cbcbcb; } }

table.style01 td {
  text-align: center;
  background: #fff;
  text-align: left;
  border-bottom: 1px solid #cccccc;
  padding: 0% 4% 2%; }
  @media screen and (min-width: 768px) {
    table.style01 td {
      padding: 19px 30px 17px; } }
  @media (max-width: 767px) {
    table.style01 td {
      display: block;
      width: 100%; } }

@media (max-width: 767px) {
  table.style01 tr:last-of-type td {
    border-bottom: none; } }

table.style01 {
  width: 100%; }
  @media (max-width: 767px) {
    table.style01 {
      display: block;
      border-bottom: 1px solid #cbcbcb; } }

table.style02 {
  width: 100%; }

table.style02 th {
  text-align: center;
  background: #e6e6e6;
  font-weight: bold;
  font-size: 11px;
  font-size: 1.1rem;
  padding: 2%;
  border-top: 1px solid #cbcbcb;
  border-right: 1px solid #cbcbcb;
  border-left: 1px solid #999999; }
  @media screen and (min-width: 768px) {
    table.style02 th {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media screen and (min-width: 1040px) {
    table.style02 th {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media screen and (min-width: 768px) {
    table.style02 th {
      padding: 17px 30px 15px; } }

table.style02 tr th:last-of-type {
  border-right: 1px solid #999999; }

table.style02 tr:first-of-type th {
  border-top: 1px solid #999999; }

table.style02 tr:last-of-type th {
  border-bottom: 1px solid #999999; }

table.style02 th em {
  background: #e1091a;
  padding: 2px 6px;
  border-radius: 6px;
  color: #fff;
  margin-left: 15px;
  font-size: 12px;
  font-size: 1.2rem; }

table.style02 td {
  text-align: center;
  background: #fff;
  border-top: 1px solid #999999;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  font-size: 11px;
  font-size: 1.1rem;
  padding: 2%;
  border-bottom: 1px solid #999999; }
  @media screen and (min-width: 768px) {
    table.style02 td {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media screen and (min-width: 1040px) {
    table.style02 td {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media screen and (min-width: 768px) {
    table.style02 td {
      padding: 17px 30px 15px; } }

table.style02 th.bgcolor1 {
  background: #7d8cba;
  color: #fff; }

table.style02 th.bgcolor2 {
  background: #a8aa5f;
  color: #fff; }

table.style02 th.bgcolor3 {
  background: #5fa3b2;
  color: #fff; }

table.style03 {
  width: 100%;
  font-size: 14px;
  font-size: 1.4rem; }
  @media screen and (min-width: 768px) {
    table.style03 {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media (max-width: 767px) {
    table.style03 {
      display: block;
      border-bottom: none; } }

@media (max-width: 767px) {
  table.style03 tbody,
  table.style03 tr {
    display: block;
    width: 100%; } }

table.style03 th {
  text-align: center;
  width: 100%;
  background: #5da8ba;
  color: #fff;
  font-weight: bold;
  padding: 2% 4% 2%;
  border-top: 1px solid #cbcbcb;
  border-right: 1px solid #cbcbcb;
  border-left: 1px solid #999999; }
  @media screen and (min-width: 768px) {
    table.style03 th {
      padding: 17px 30px 15px; } }
  @media (max-width: 767px) {
    table.style03 th {
      display: block;
      border: 1px solid #999999;
      text-align: left;
      margin-top: 4%; } }
  @media print, screen and (min-width: 768px) {
    table.style03 th {
      width: 240px;
      border-bottom: 1px solid #cbcbcb; } }

table.style03 tr th:last-of-type {
  border-right: 1px solid #999999; }

table.style03 tr:first-of-type th {
  border-top: 1px solid #999999; }
  @media (max-width: 767px) {
    table.style03 tr:first-of-type th {
      margin-top: 0; } }

table.style03 tr:last-of-type th {
  border-bottom: 1px solid #999999; }

table.style03 th em {
  background: #e1091a;
  padding: 2px 6px;
  border-radius: 6px;
  color: #fff;
  margin-left: 15px;
  font-size: 12px;
  font-size: 1.2rem; }

table.style03 td {
  text-align: center;
  background: #fff;
  text-align: left;
  border-top: 1px solid #999999;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  padding: 2% 4% 2% 2%; }
  @media screen and (min-width: 768px) {
    table.style03 td {
      padding: 17px 30px 15px; } }
  @media (max-width: 767px) {
    table.style03 td {
      display: block;
      border-top: none;
      border-left: none;
      border-right: none;
      background-color: transparent;
      padding-left: 1em;
      text-indent: -1em; }
      table.style03 td:before {
        content: "・"; } }
  @media print, screen and (min-width: 768px) {
    table.style03 td {
      border-bottom: 1px solid #999999; } }

table.style04 {
  width: 100%; }

table.style04 th {
  text-align: center;
  background: #5da8ba;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
  font-size: 1.1rem;
  padding: 2%;
  border-top: 1px solid #cbcbcb;
  border-right: 1px solid #cbcbcb;
  border-left: 1px solid #999999; }
  @media screen and (min-width: 768px) {
    table.style04 th {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media screen and (min-width: 1040px) {
    table.style04 th {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media screen and (min-width: 768px) {
    table.style04 th {
      padding: 17px 30px 15px; } }

table.style04 tr th:last-of-type {
  border-right: 1px solid #999999; }

table.style04 tr:first-of-type th {
  border-top: 1px solid #999999; }

table.style04 tr:last-of-type th {
  border-bottom: 1px solid #999999; }
  @media (max-width: 767px) {
    table.style04 tr:last-of-type th {
      border-bottom: none; } }

table.style04 tr:last-of-type {
  border-bottom: 1px solid #999999; }

table.style04 th em {
  background: #e1091a;
  padding: 2px 6px;
  border-radius: 6px;
  color: #fff;
  margin-left: 15px;
  font-size: 12px;
  font-size: 1.2rem; }

table.style04 td {
  text-align: center;
  background: #fff;
  text-align: left;
  border-top: 1px solid #999999;
  font-size: 11px;
  font-size: 1.1rem;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  padding: 2%; }
  @media screen and (min-width: 768px) {
    table.style04 td {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media screen and (min-width: 1040px) {
    table.style04 td {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media screen and (min-width: 768px) {
    table.style04 td {
      padding: 17px 30px 15px; } }

table.style04 {
  width: 100%;
  font-size: 14px;
  font-size: 1.4rem; }
  @media screen and (min-width: 768px) {
    table.style04 {
      font-size: 16px;
      font-size: 1.6rem; } }

table.style04 td.underline {
  border-bottom: 1px solid #999999; }

/* --form
************************************/
form input[type="radio"] {
  margin-right: 5px;
  position: relative;
  display: inline-block;
  top: 1px; }

form input[type="text"],
input[type="mail"],
select {
  padding: 7px 10px;
  font-size: 15px;
  font-size: 1.5rem;
  margin: 4px 0;
  width: 100%;
  border: 1px solid #a7a7a7; }
  @media screen and (min-width: 768px) {
    form input[type="text"],
    input[type="mail"],
    select {
      padding: 7px 10px; } }
  @media screen and (min-width: 768px) {
    form input[type="text"],
    input[type="mail"],
    select {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media print, screen and (min-width: 768px) {
    form input[type="text"],
    input[type="mail"],
    select {
      width: auto; } }

form textarea {
  border: 1px solid #a7a7a7;
  padding: 7px 10px;
  font-size: 15px;
  font-size: 1.5rem;
  margin: 4px 0;
  width: 100%; }
  @media screen and (min-width: 768px) {
    form textarea {
      padding: 7px 10px; } }
  @media screen and (min-width: 768px) {
    form textarea {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media print, screen and (min-width: 768px) {
    form textarea {
      width: auto; } }

@media print, screen and (min-width: 768px) {
  form .w50 {
    width: 300px !important; } }

form span.small {
  font-size: 12px;
  font-size: 1.2rem; }

form .mt {
  margin-top: 10px; }

form .wide {
  width: 100%; }

form label {
  margin-right: 20px; }

form .submit_btn {
  text-align: center;
  margin-top: 40px; }

form .submit_btn input {
  cursor: pointer;
  background: #c30000;
  color: #fff;
  padding: 15px 60px;
  display: inline-block;
  border: none; }

.mw_wp_form_confirm span {
  display: none; }

form .error {
  color: #f00;
  font-size: 13px;
  font-size: 1.3rem;
  padding-left: 10px; }

form .block label {
  display: block;
  margin-bottom: 5px;
  cursor: pointer; }

/* --bg_color
************************************/
.bg_white {
  background: #fff; }

.bg_gray {
  background: #f2f2f2; }

.bg_darkgray {
  background: #d8d8d8; }

.bg_green {
  background: #f1f9e5; }

/* --link_color
************************************/
.link_red {
  color: #c73c25 !important; }

.link_red:hover {
  text-decoration: underline; }

.link_blue {
  color: #6cbd33 !important; }

.link_blue:hover {
  text-decoration: underline; }

/* --font_color
************************************/
.font_red {
  color: #c73c25 !important; }

.font_blue {
  color: #6cbd33 !important; }

/* --img_center
************************************/
.img_center {
  display: block;
  text-align: center;
  margin: 0 auto; }

/* --sml
************************************/
/* --new
************************************/
.new:after {
  content: "new";
  margin-left: 5px;
  color: #fff;
  background: #c73c25;
  padding: 1px 3px;
  font-size: 12px; }

/* 　　--photo_title
************************************/
/* 写真(下部)の上に説明文を重ねる */
.photo_title a {
  text-align: center;
  text-decoration: none; }

.photo_title p {
  margin-top: 5px;
  font-size: 13px;
  font-size: 1.3rem; }
  @media screen and (min-width: 768px) {
    .photo_title p {
      margin-top: 10px; } }
  @media screen and (min-width: 768px) {
    .photo_title p {
      font-size: 14px;
      font-size: 1.4rem; } }

.photo_title figure {
  position: relative;
  overflow: hidden; }

.photo_title figcaption {
  position: absolute;
  bottom: 36%;
  right: 0;
  z-index: 9999;
  width: 62%;
  background: #fff;
  -webkit-transition: .3s;
  opacity: 1;
  color: #000;
  font-size: 13px;
  font-size: 1.3rem;
  padding: 3px 10px 4px 4%; }
  @media screen and (min-width: 768px) {
    .photo_title figcaption {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media screen and (min-width: 1040px) {
    .photo_title figcaption {
      font-size: 18px;
      font-size: 1.8rem; } }
  @media screen and (min-width: 768px) {
    .photo_title figcaption {
      padding: 3px 10px 4px; } }
  @media (max-width: 767px) {
    .photo_title figcaption {
      bottom: 28%;
      width: 65%;
      text-align: left; } }

.photo_title figcaption span {
  background: linear-gradient(transparent 70%, #fff385 0%); }

.photo_title a:hover figcaption {
  background: #6cbd33;
  color: #fff; }

.photo_title a:hover figcaption span {
  background: none; }

.photo_title figure {
  border: 2px solid transparent; }

.photo_title figcaption .center {
  text-align: center; }

.photo_title figcaption .left {
  text-align: left; }

.photo_title img {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  width: 100%;
  height: auto; }

.photo_title a:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.8; }

.photo_title a:hover figure {
  border: 2px solid #6cbd33; }

.photo_title a:hover .photo {
  opacity: 0.8; }

.photo_title figcaption.white {
  background: #fff;
  color: #4d4d4d; }

.photo_title figcaption.arrow:after {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  content: url(../images/right_arrow.png);
  position: absolute;
  right: 10px;
  top: 2px; }

.photo_title a:hover figcaption.arrow:after {
  right: 7px; }

.photo_title.left_line {
  border-left: 2px solid #c40500; }

@media screen and (max-width: 650px) {
  .photo_title a:hover figcaption {
    background: #fff;
    color: #000; }

  .photo_title a:hover img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*# sourceMappingURL=common.css.map */
