@charset "utf-8";
@import "base/_config";
@import "base/_mixin";
@import "base/_extend";


/********************************************************************************
　--common
*********************************************************************************/

/* --headline
************************************/

.headline1 {
    @extend .mb;
    @extend .fsize_xl;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 3px;    
}

.headline1 span.small {
    @extend .fsize_xs;
    display: block;
    margin-top: 5px;
}

.headline2 {
    @extend .mb;    
    @extend .fsize_l;
    letter-spacing: 1px;
}

.headline2 span.small {
    @extend .fsize_xs;
    display: inline-block;
    padding-left: 10px;
    letter-spacing: 1px;
    font-weight: normal;
    line-height: 1.2;    
}

.headline3 {
    @include margin-bottom(2%,15px,15px);  
    @extend .fsize_l;
    border-left:3px solid $keycolor1;
    padding-left: 10px;
    line-height: 1.4;

}

.headline4 {
    @include margin-bottom(2%,15px,15px);  
    @extend .fsize_xl;
    text-align: center;
    padding-left: 10px;
    line-height: 1.4;
}
.headline4 span.underline {
    display: block;
    width: 70px;
    height: 3px;
    background: #808080;
    @include margin(2% auto ,15px auto ,15px auto);  
}
.headline5 {
    @include margin(2% auto,15px auto,15px auto);  
    @extend .fsize_xl;
    text-align: center;
    line-height: 1.4;
}
.headline5 span.line {
    background:#f7f5e4;
    display:block;
    @include padding(2%,5px 10px);
}
.headline6 {
    @include margin(2% auto,15px auto,15px auto);  
    @extend .fsize_xl;
    text-align: left;
    line-height: 1.4;
}
.headline6 span.underline {
    display: block;
    width: 45px;
    height: 3px;
    background:$keycolor1;
    @include margin(2% 0 ,15px 0 ,15px 0);  
    @include margin-right(auto);  
}
.headline7 {
    @include margin(2% auto,15px auto,15px auto);  
    @include padding-bottom(2%,15px);
    @extend .fsize_l;
    border-bottom:2px solid #e5e5e5;
    line-height: 1.4;
}
.headline7 span.title {
    display:block;
    width:80%;
    float:left;
}
.headline7 span.date {
    display:block;
    width:20%;
    text-align:right;
    @include margin-top(4px,8px);
    float:left;
    @extend .fsize_s;

}
.headline8 {
    @extend .fsize_l;
    @extend .pb_s;
}


/* --btn
************************************/
.linkbtn1 a {
    border: 1px solid $keycolor1;
    display: inline-block;
    color: #fff !important;
    background: $keycolor1;
    @include padding(3px 4%,8px 48px 8px 40px);
    @extend .fsize_s;
    @include vender(transition, all 0.3s ease);
    position: relative;
    &:hover {
        background: #fff;
        color: $keycolor1 !important;
        @include vender(transition, all 0.3s ease);
    }
    @include sp_only {
        padding: 10px 4%;
        width: 70%;
    }
}

.linkbtn1 a:after {
    position: absolute;
    top: 50%;
    right: 25px;
    display: block;
    content: "";
    width: 5px;
    height: 5px;
    margin-top: -3px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.linkbtn2 a {
    background:#c73c25;
    position:relative;
    border: 1px solid #c73c25;
    display: inline-block;
    color: #fff !important;
    @include padding(10px 14% 10px 10%,10px 70px 10px 70px);
    @include size(13,20);
    @include vender(transition, all 0.3s ease);
    @include border-radius(10px);
    &:hover {
        background: #d7513b!important;
        @include vender(transition, all 0.3s ease);
    }
    &:after {
        position:absolute;
        content: url(../images/download_icon.png);
        top: 12px;
        right:10px;
        @include sp_only {
            top: 5px;
            right:5px;
        }
    }
}

.linkbtn3 a {
    background:#777474;
    position:relative;
    border: 1px solid #777474;
    display: inline-block;
    color: #fff !important;
    @include padding(10px 14% 10px 10%,10px 70px 10px 70px);
    @include size(13,20);
    @include vender(transition, all 0.3s ease);
    @include border-radius(10px);
    @include sp_only {
        width:100%;
        text-align:center;
    }
    &:hover {
        background: #949292!important;
        @include vender(transition, all 0.3s ease);
    }
    &:after {
        position:absolute;
        content: url(../images/download_icon.png);
        top: 12px;
        right:10px;
        @include sp_only {
            top: 10px;
            right:5px;
        }
    }
}

.linkbtn4 a {
    background:#2687a8;
    position:relative;
    border: 1px solid #2687a8;
    display: inline-block;
    color: #fff !important;
    @include padding(10px 14% 10px 10%,10px 70px 10px 70px);
    @include size(15,22);
    @include vender(transition, all 0.3s ease);
    @include border-radius(10px);
    &:hover {
        background: #20738f!important;
        @include vender(transition, all 0.3s ease);
    }
    &:after {
        content:"";
        position:absolute;
        box-sizing: border-box;
        right: 14px;
        top:34%;
        width: 18px;
        height: 18px;
        border: 1px solid #fff;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
    &:before {
        content:"";
        position:absolute;
        right: 22px;
        top:46%;
        width: 5px;
        height: 5px;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    @include sp_only {
        width:100%;
        text-align:center;
    }
}

.linkbtn6 a {
    background:#fff;
    position:relative;
    border: 1px solid #2687a8;
    display: inline-block;
    color: #2687a8 !important;
    @include border-radius(10px);
    @include padding(7px 10%,7px 50px);
    @extend .fsize;
    @include vender(transition, all 0.3s ease);
    &:hover {
        background:#2687a8;
        color: #fff !important;
        @include vender(transition, all 0.3s ease);
    }
    &:after {
        content: '';
        position: absolute;
        right: 15px;
        top: 19px;
        width: 6px;
        height: 6px;
        border-top: 1px solid #2687a8;
        border-right: 1px solid #2687a8;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    @include sp_only {
        width:100%;
        text-align:center;
    }
}

/* 　　--table
************************************/

table.style01 {
    width: 100%;
    @include size(13, 16);
    @include sp_only() {
        display: block;
        border-bottom: 1px solid #cbcbcb;
    }
}

table.style01 tbody,
table.style01 tr {
    @include sp_only() {
        display: block;
        width: 100%;
    }
}

table.style01 th {
    text-align: left;
    border-bottom: 1px solid #cccccc;
    width: 100%;
    font-weight: bold;
    @include padding(2% 4% 0%, 19px 30px 17px);
    @include sp_only() {
        display: block;
        border-bottom: none;
    }
    @include tab() {
        width: 240px;
        border-bottom: 1px solid #cbcbcb;
    }
}

table.style01 td {
    text-align: center;
    background: #fff;
    text-align: left;
    border-bottom: 1px solid #cccccc;

    @include padding(0% 4% 2%, 19px 30px 17px);
    @include sp_only() {
        display: block;
        width: 100%;
    }
}
table.style01 tr:last-of-type td {
    @include sp_only() {
        border-bottom: none;
    }
}
table.style01 {
    width: 100%;
    @include sp_only() {
        display: block;
        border-bottom: 1px solid #cbcbcb;
    }
}

table.style02 {
    width:100%;
}
table.style02 th {
    text-align: center;
    background: #e6e6e6;
    font-weight: bold;
    @include size(11, 16,16);
    @include padding(2%, 17px 30px 15px);
    border-top: 1px solid #cbcbcb;
    border-right: 1px solid #cbcbcb;
    border-left: 1px solid #999999;
}
table.style02 tr th:last-of-type {
    border-right: 1px solid #999999;
}
table.style02 tr:first-of-type th {
    border-top: 1px solid #999999 ;
}
table.style02 tr:last-of-type th {
    border-bottom: 1px solid #999999 ;
}

table.style02 th em {
    background: #e1091a;
    padding: 2px 6px;
    border-radius: 6px;
    color: #fff;
    margin-left: 15px;
    @include size(12);
}

table.style02 td {
    text-align: center;
    background: #fff;
    border-top: 1px solid #999999;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    @include size(11, 16,16);
    @include padding(2%, 17px 30px 15px);
        border-bottom: 1px solid #999999;
}

table.style02 th.bgcolor1 {background:#7d8cba;color:#fff;}
table.style02 th.bgcolor2 {background:#a8aa5f;color:#fff;}
table.style02 th.bgcolor3 {background:#5fa3b2;color:#fff;}



table.style03 {
    width: 100%;
    @include size(14, 16);
    @include sp_only() {
        display: block;
        border-bottom: none;
    }
}

table.style03 tbody,
table.style03 tr {
    @include sp_only() {
        display: block;
        width: 100%;
    }
}

table.style03 th {
    text-align: center;
    width: 100%;
    background: #5da8ba;
    color:#fff;
    font-weight: bold;
    @include padding(2% 4% 2%, 17px 30px 15px);
    border-top: 1px solid #cbcbcb;
    border-right: 1px solid #cbcbcb;
    border-left: 1px solid #999999;
    @include sp_only() {
        display: block;
        border: 1px solid #999999;
        text-align: left;
        margin-top:4%;
    }
    @include tab() {
        width: 240px;
        border-bottom: 1px solid #cbcbcb;
    }
}
table.style03 tr th:last-of-type {
    border-right: 1px solid #999999;
}
table.style03 tr:first-of-type th {
    border-top: 1px solid #999999 ;
    @include sp_only() {
        margin-top:0;
    }
}
table.style03 tr:last-of-type th {
    border-bottom: 1px solid #999999 ;
}

table.style03 th em {
    background: #e1091a;
    padding: 2px 6px;
    border-radius: 6px;
    color: #fff;
    margin-left: 15px;
    @include size(12);
}

table.style03 td {
    text-align: center;
    background: #fff;
    text-align: left;
    border-top: 1px solid #999999;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    @include padding(2% 4% 2% 2%, 17px 30px 15px);
    @include sp_only() {
        display: block;
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: transparent;
        padding-left:1em;
        text-indent:-1em;
        &:before {
            content:"・";
        }
    }
    @include tab() {
        border-bottom: 1px solid #999999;
    }
}



table.style04 {
    width: 100%;
}

table.style04 th {
    text-align: center;
    background: #5da8ba;
    color:#fff;
    font-weight: bold;
    @include size(11,16,16);
    @include padding(2%, 17px 30px 15px);
    border-top: 1px solid #cbcbcb;
    border-right: 1px solid #cbcbcb;
    border-left: 1px solid #999999;
}

table.style04 tr th:last-of-type {
    border-right: 1px solid #999999;
}
table.style04 tr:first-of-type th {
    border-top: 1px solid #999999 ;
}
table.style04 tr:last-of-type th {
    border-bottom: 1px solid #999999 ;
    @include sp_only {
        border-bottom: none;
    }
}
table.style04 tr:last-of-type {
    border-bottom: 1px solid #999999;
}

table.style04 th em {
    background: #e1091a;
    padding: 2px 6px;
    border-radius: 6px;
    color: #fff;
    margin-left: 15px;
    @include size(12);
}

table.style04 td {
    text-align: center;
    background: #fff;
    text-align: left;
    border-top: 1px solid #999999;
    @include size(11,16,16);
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    @include padding(2%, 17px 30px 15px);
}
table.style04 {
    width: 100%;
    @include size(14, 16);
}

table.style04 td.underline {
    border-bottom: 1px solid #999999;
}
/* --form
************************************/

form input[type="radio"] {
    margin-right: 5px;
    position: relative;
    display: inline-block;
    top: 1px;
}

form input[type="text"],
input[type="mail"],
select {
    @include padding(7px 10px, 7px 10px);
    @include size(15, 16);
    margin: 4px 0;
    width: 100%;
    border: 1px solid #a7a7a7;
    @include tab() {
        width: auto;
    }
}

form textarea {
    border: 1px solid #a7a7a7;
    @include padding(7px 10px, 7px 10px);
    @include size(15, 16);
    margin: 4px 0;
    width: 100%;
    @include tab() {
        width: auto;
    }
}

form .w50 {
    @include tab() {
        width: 300px !important;
    }
}

form span.small {
    @include size(12);
}

form .mt {
    margin-top: 10px;
}

form .wide {
    width: 100%;
}

form label {
    margin-right: 20px;
}

form .submit_btn {
    text-align: center;
    margin-top: 40px;
}

form .submit_btn input {
    cursor: pointer;
    background: #c30000;
    color: #fff;
    padding: 15px 60px;
    display: inline-block;
    border: none;
}

.mw_wp_form_confirm span {
    display: none;
}

form .error {
    color: #f00;
    @include size(13);
    padding-left: 10px;
}

form .block label {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
}

/* --bg_color
************************************/
.bg_white {background:#fff;}
.bg_gray {background:#f2f2f2;}
.bg_darkgray {background:#d8d8d8;}
.bg_green {background:#f1f9e5;}

/* --link_color
************************************/
.link_red {
    color:#c73c25!important;
}
.link_red:hover{
    text-decoration: underline;
}
.link_blue {
    color:$keycolor1!important;
}
.link_blue:hover{
    text-decoration: underline;
}
/* --font_color
************************************/
.font_red {
    color:#c73c25!important;
}
.font_blue {
    color:$keycolor1!important;
}


/* --img_center
************************************/
.img_center {
    display:block;
    text-align:center;
    margin:0 auto;
}
/* --sml
************************************/
.sml {
    @extend .fsize_xs;
}

/* --new
************************************/
.new:after {
   content: "new";
   margin-left: 5px;
   color: #fff;
   background: #c73c25;
   padding: 1px 3px;
   font-size:12px;
}

/* 　　--photo_title
************************************/
/* 写真(下部)の上に説明文を重ねる */
.photo_title a {
    text-align: center;
    text-decoration: none;
}
.photo_title p{
    @include margin-top(5px,10px);  
    @include size(13,14);
}
.photo_title figure {
    position: relative;
    overflow: hidden;
}
.photo_title figcaption {
    position: absolute;
    bottom: 36%;
    right:0;
    z-index: 9999;
    width: 62%;
    background: #fff;
    -webkit-transition: .3s;
    opacity: 1;
    color: #000;
    @include size(13,16,18);
    @include padding(3px 10px 4px 4%,3px 10px 4px);
    @include sp_only {
        bottom: 28%;
        width: 65%;
        text-align: left;
    }
}

.photo_title figcaption span {
    background: linear-gradient(transparent 70%, #fff385 0%); 
    
}
.photo_title a:hover figcaption {
    background:$keycolor1;
    color:#fff;
}
.photo_title a:hover figcaption span {
    background: none;
}
.photo_title figure {
    border:2px solid transparent;
}


.photo_title figcaption .center {
  text-align:center;
}
.photo_title figcaption .left {
  text-align:left;
}
.photo_title img {
    @include vender(transition, all 0.2s linear);
    width: 100%;
    height: auto;
}
.photo_title a:hover img {
  @include vender(transform,scale(1.1));
  opacity: 0.8;
}
.photo_title a:hover figure {
    border:2px solid $keycolor1;
}
.photo_title a:hover .photo {
    opacity: 0.8;
}
.photo_title figcaption.white {
  background:#fff;
  color:#4d4d4d;
}
.photo_title figcaption.arrow:after {
  @include vender(transition, all 0.2s linear);
  content: url(../images/right_arrow.png);
  position: absolute;
  right: 10px;
  top:2px;
}
.photo_title a:hover figcaption.arrow:after {
  right: 7px;
}

.photo_title.left_line {
  border-left:2px solid #c40500;
}

@media screen and (max-width: 650px) {
.photo_title a:hover figcaption {
    background:#fff;
    color:#000;
}
.photo_title a:hover img {
  @include vender(transform,scale(1.0));
  opacity: 1;
}

}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
