@charset "utf-8";

@import "base/_config";
@import "base/_mixin";
@import "base/_extend";

@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　共通箇所 (基本タグ設定)
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

html,
body {
    width: 100%;
}

html {
    font-size: 62.5%;
}

body {
    background: $bg_body;
    text-align: center;
    line-height: 1.75;
    @include size(13, 16);
    color: $color_text;
    font-family: $font_family;
    -webkit-text-size-adjust: 100%;
}

.wrapper {
    width: 100%;
    margin: 0px auto;
    text-align: left;
    padding: 0 4%;

    @include pc() {
        width: $width_wrapper;
        padding: 0;
    }
}



/* link */

a {
    color: $color_link;
    text-decoration: none;
    outline: none;
}

a:link {
    color: $color_link;
}

a:visited {
    color: $color_link;
}

a:hover {
    color: $color_link;
}


#loading_wrap {
    background: #fff;
    z-index: 9999;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
}



/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--header
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

header {
    position: relative;
    z-index: 999;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--pcmenu
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
header .pcmenu {
    @include display(false, block, block);
    position: fixed;
    width: 100%;
    top: 0;
    display: block;

    @include sp_only {
        display: none;
    }
}

header .pcmenu .header_top {
    background: #fff;
}

header .pcmenu .header_top h1 {
    float: left;
    @include padding(3px 0 3px 15px);
}

header .pcmenu .header_top .link {
    float: right;
}

header .pcmenu .header_top .link li {
    float: left;
    padding: 12px 0;
}

header .pcmenu .header_top .link li a {
    padding: 18px 50px 15px 31px;
    color: #fff;
    @include size(13);

}

header .pcmenu .header_top .link li.col1 a {
    background: #777474;
}

header .pcmenu .header_top .link li a img {
    padding-right: 6px;
}

header .pcmenu .header_top .link li.col2 a {
    background: #595555;
}

header .pcmenu .header_top .link li.col3 a {
    background: #c73c25;
}

header .pcmenu .header_bottom .box {
    background: rgba(108, 189, 51, 0.9);
    color: #fff;
    @include width(none, 260px, 360px);
    text-align: left;
    @include padding(none, 10px 0 10px 10px, 10px 0 10px 100px);
}

header .pcmenu .header_bottom .box .tel {
    font-size: 28px;
    line-height: 1.25;
    font-weight: bold;
}

header .pcmenu .header_bottom .box .tel img {
    padding-right: 4px;
    padding-bottom: 2px;
}

header .pcmenu .header_bottom .box .time {
    font-size: 14px;
    padding-left: 34px;
}

header .pcmenu .header_bottom {
    position: relative;
}

header .pcmenu .header_bottom .line {
    position: absolute;
    top: 0;
    right: 0;
    width: 625px;
    height: 4px;
    background: #6cbd33;

}

header .pcmenu .header_top nav {
    background: rgba(255, 255, 255, 0.95);

    @include tab() {
        width: auto;
        float: right;
    }

    @include pc() {
        width: auto;
        float: right;
    }
}

header .pcmenu .header_top nav ul {
    padding-right: 15px;

    @include pc() {
        display: block;
    }
}

header .pcmenu .header_top nav ul li {
    position: relative;
    float: left;
    display: block;
    line-height: 1.4;
}

header .pcmenu .header_top nav ul li:before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 5px;
    height: 25px;
    background-image: url(../images/header_line.svg);
    background-size: contain;
    vertical-align: middle;
    right: -3px;
    top: 22px;
}

header .pcmenu .header_top nav ul li:first-of-type:after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 5px;
    height: 25px;
    background-image: url(../images/header_line.svg);
    background-size: contain;
    vertical-align: middle;
    left: -1px;
    top: 22px;
}

header .pcmenu .header_top nav ul li a {
    text-align: center;
    display: block;
    position: relative;
    @include size(13);

    @include tab() {
        padding: 25px 20px;
    }

    @include pc() {
        padding: 25px 27px;
    }

    position: relative;
}

header .pcmenu .header_top nav ul li a:hover {
    background: $keycolor1;
    color: #fff !important;
    z-index: 99;
    position: relative;
}


header .pcmenu .header_top nav ul li ul.drop {
    position: absolute;
    display: none;
    float: none;
    z-index: 99999;
    border: none;
    background: none;
    margin-right: 15px;
    width: auto;
    left: -20px;
}

header .pcmenu .header_top nav ul li ul.drop li {
    background: none;
    border: none;
    float: none;
    position: static;
    padding: 0px;
    display: block;
    width: 120px;
}

header .pcmenu .header_top nav ul li ul.drop li:after {
    content: none;
}

header .pcmenu .header_top nav ul li ul.drop li a {
    display: block;
    float: none;
    border-bottom: 1px solid #eee;
    background: white;
    text-align: center;
    width: auto;
    padding: 9px 7px 7px;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 1.6;
    font-weight: normal;
    margin: 0;
    font-size: 13px;
    font-size: 1.3rem;
}

header .pcmenu .header_top nav ul li ul.drop li:last-of-type a {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
    border-bottom-left-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-bottom-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-bottomright: 7px;
}

header .pcmenu .header_top nav ul li ul.drop li a:hover {
    background: #6cbd33;
    color: #fff;
}

header .pcmenu .header_top nav ul li ul.drop li a:hover:after {
    transform: scale(0, 0);
}




header.fixed {
    background: rgba(255, 255, 255, 1);
    @include vender(transition, all 0.3s ease);
}

header.fixed .pcmenu nav ul li a {
    color: $color_link !important;
    @include vender(transition, all 0s ease);

    &:hover {
        @include vender(transition, all 0s ease);
    }
}

header.fixed .pcmenu nav ul li a span.en {
    color: $keycolor1 !important;
}

header.fixed .pcmenu nav ul li a {

    // color: #fff !important;
    &:hover {
        color: #2687a8;
    }
}

header.fixed .pcmenu nav ul li:last-child a span.en {
    color: #fff !important;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--spmenu
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

header .spmenu {
    z-index: 999999;
    width: 100%;
    height: 52px;
    top: 0;
    @include display(block, none, none);
    position: fixed;
    background: #fff;

    @include sp_only {
        border-bottom: 2px solid $keycolor1;
    }
}

header .spmenu .nav-top {
    background: #fff;
    border-bottom: 1px solid $keycolor1;
}

header .spmenu .nav-top ul {
    width: 92%;
    margin: 0 auto;
    padding: 2% 0;
}

header .spmenu .nav-top ul li {
    float: left;
    padding-right: 2%;
}

header .spmenu .nav-top ul li img {
    width: 35px;
}

.drawermenu .inner {
    @include sp_only {
        border-top: none !important;
    }
}

header .spmenu h1 {
    text-align: left;
    padding: 6px 0 0 10px;
}

header .spmenu h1 img {
    @include sp_only() {
        width: 126px;
    }
}

header .spmenu .drawer-hamburger {
    width: 2.6rem;
    padding: 14px 3% 23px;
    position: fixed;
    z-index: 99999;
}

header .spmenu .drawer-brand {
    max-width: 200px;
    margin-left: -15px;
}

header .spmenu .drawer-brand img {
    width: 84%;
    height: auto;
    margin-top: 7px;
}


header .spmenu .drawer-menu-item {
    text-align: left;
    padding: 5% 8% 5% 4%;
    background: #fff;
    position: relative;
    font-size: 13px;
    font-size: 1.3rem;
}

header .spmenu .drawer-menu-item span {
    font-size: 11px;
    padding-left: 8%;
    color: $keycolor1;
}

header .spmenu .drawer-menu li {
    width: 50%;
    float: left;

}

header .spmenu .drawer-menu li:nth-child(2n) .drawer-menu-item {
    border-left: 1px solid $keycolor1;
}

header .spmenu .color .drawer-menu-item {
    color: #000;
    background: #fff;
    border-bottom: 2px solid $keycolor1;

}

header .spmenu li #acMenu dt {
    text-align: left;
    padding: 3% 4%;
    font-size: 15px;
    font-size: 1.5rem;
    background: #595555;
    color: #fff;
}

header .spmenu li #acMenu dd {
    background: #ffffff;
    text-align: center;
    display: none;
    margin: 0px;
    padding: 0px;
}

header .spmenu li #acMenu .accordion_icon,
.accordion_icon span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

header .spmenu li #acMenu .accordion_icon {
    position: relative;
    width: 20px;
    height: 20px;
    float: right;
    margin-right: -5px;
    top: 7px;
    margin-bottom: 0px !important;
}

header .spmenu li #acMenu .accordion_icon span {
    position: absolute;
    left: 6px;
    width: 50%;
    height: 1px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}

header .spmenu li #acMenu .accordion_icon span:nth-of-type(1) {
    top: 5px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

header .spmenu li #acMenu .accordion_icon span:nth-of-type(2) {
    top: 5px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

/*＋、－切り替え*/
header .spmenu li #acMenu .accordion_icon.active span:nth-of-type(2) {
    display: none;
}

#acMenu .accordion_icon.active span:nth-of-type(1) {
    top: 5px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

header .spmenu .inner {
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
}


header .spmenu .drawer-menu-item:after {
    position: absolute;
    top: 50%;
    right: 4%;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border-top: 1px solid $keycolor1;
    border-right: 1px solid $keycolor1;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

header .spmenu .color .drawer-menu-item:after {
    border-top: 1px solid #aaa;
    border-right: 1px solid #aaa;
}

header .spmenu .drawer-menu-item:hover {
    text-decoration: underline;
}

header .spmenu .drawer-nav {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

header .spmenu .drawer-hamburger {
    width: 2.6rem;
    padding: 10px 16px 30px;
    position: fixed;
    z-index: 99999;
    margin-top: 0px;
    background: $keycolor1;
}

header .spmenu #menu-text {
    position: absolute;
    padding-top: 15px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    left: 14px;
}

.drawer-close #menu-text {
    left: 14px !important;
}

.drawer-hamburger-icon,
.drawer-hamburger-icon:after,
.drawer-hamburger-icon:before {
    background-color: #fff !important;
}

header .spmenu .nav-top {
    @include display(block, none, none);
    background: #fff;
    border-bottom: 1px solid $keycolor1;
}

.spmenu .drawer-hamburger {
    background: $keycolor1;
}

.drawer-open .drawer-hamburger-icon {
    background-color: transparent;
    background: $keycolor1 !important;
}

header .spmenu .sp-title {
    padding: 2% 4% 2% 2%;
    text-align: left;
    font-weight: bold;
    color: #fff;
    background: $keycolor1;
}

header .spmenu .nav-top ul li a {
    width: 100%;
    display: block;
    background: #ffffcb;
    border: 1px solid $keycolor1;
    padding: 6px 0 0;
    border-radius: 5px;
}

header .spmenu .nav-top ul li .text {
    font-size: 10px;
    line-height: 0;
    top: -1px;
    position: relative;
    color: $keycolor1;
    display: block;
    padding: 10px 0;
}

header .spmenu .nav-top ul li {
    float: left;
    margin-right: 2%;
    width: 49%;
}

header .spmenu .nav-top ul li:last-of-type {
    margin-right: 0%;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--pagetitle
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#pagetitle-photo {
    @include margin-top(52px, 68px);
    width: 100%;
    text-align: center;
    background-size: cover;
}

#pagetitle-photo.concept {
    background: url(../images/pagetitle_concept.jpg) no-repeat center;
    @include height(160px, 222px, 324px);

    @include sp_only {
        background: url(../images/pagetitle_concept_sp.jpg) no-repeat center;
    }

}

#pagetitle-photo.sales {
    background: url(../images/pagetitle_sales.jpg) no-repeat center;
    @include height(168px, 228px, 384px);
    background-size: cover;
}

#pagetitle-photo.staff {
    background: url(../images/pagetitle_staff.jpg) no-repeat center;
    @include height(168px, 228px, 384px);
    background-size: cover;
}

#pagetitle-photo.company {
    background: url(../images/pagetitle_company.jpg) no-repeat center;
    @include height(168px, 228px, 384px);
    background-size: cover;
}

.pagetitle-text {
    background: #f2f2f2;
}

.pagetitle-text h2 {
    font-weight: 900;
    color: #1a1a1a;
    @include size(22, 38);
    text-align: center;
    line-height: 1.3;
    @include padding(4% 0 4%, 15px 0 25px);
}

.pagetitle-text h2 span.small {
    color: #6cbd33;
    @include size(12, 16);
    display: block;
    font-weight: bold;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--pan
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#pan {
    text-align: left;
    @extend .fsize_xs;
    @include padding(3px 5px 0);
    @include margin-bottom(2%, 20px, 20px);

    @include sp_only {
        display: none;
    }
}

#pan a:hover {
    text-decoration: underline;
}

#pan h2 {}




/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--contents
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#contents_wrap {
    @include pc() {
        margin-top: -48px;
    }
}

#contents_outer {
    @include margin(false, 0 auto 0);
    @extend .fsize;
    text-align: left;
    @include width(100%, 100%, 1000px);
}


#contents_outer #main_contents {
    @include width(92%, 92%, 690px);
    float: left;
    margin-right: 40px;

    @include tab_only {
        margin: 0 auto;
        display: block;
        float: none;
    }

    @include sp_only {
        margin: 0 auto;
        display: block;
        float: none;
    }
}

#main_contents.col1 {
    @include width(100%, 100%, 690px);
    margin-right: auto;

}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--sidebar
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#sidebar {
    width: 270px;
    float: left;

    @include tab_only {
        width: 100%;
        float: none;
    }

    @include sp_only {
        width: 100%;
        float: none;
        padding-top: 4%;
        background: #f2f2f2;
    }
}

#sidebar ul {
    @include tab_only {
        padding-top: 4%;
    }

    @include sp_only {
        width: 92%;
        margin: 0% auto 0;
    }
}

#sidebar ul li {
    @include tab_only {
        margin-bottom: 0;
        padding-top: 0;
        width: 18.8%;
        float: left;
        margin-left: 1%;
    }

    @include sp_only {
        margin-bottom: 4%;
        padding-top: 0;
        width: 48%;
        float: left;
        margin-right: 4%;
    }

}

#sidebar ul li:last-of-type {
    @include tab_only {
        margin-right: 1%;
    }
}

#sidebar ul li:nth-child(2n) {
    @include sp_only {
        margin-right: 0%;
    }
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--footer
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
footer {
    background: #fff;
}

footer nav ul li {
    float: left;

}

footer nav {
    background: $keycolor1;
}

footer nav ul {
    margin: 0 auto;
    display: flex;
    justify-content: center;

    @include sp_only {
        display: block;
    }
}

footer nav ul li {
    padding: 20px 0px;

    @include sp_only {
        padding: 0% 0%;
        width: 100%;
    }
}

footer nav ul li:first-of-type a {
    border-left: 1px solid #cccccc;

    @include sp_only {
        border-left: none;
    }
}

footer nav ul li a {
    padding: 0px 30px;
    text-align: center;
    display: block;
    position: relative;
    color: #fff !important;
    border-right: 1px solid #cccccc;
    font-size: 13px;
    font-size: 1.3rem;
    position: relative;

    @include sp_only {
        text-align: left;
        text-decoration: none;
        display: block;
        border-bottom: 1px solid #fff;
        padding: 2% 4%;
        position: relative;
        border-right: none;
    }
}

footer nav ul li a:after {
    @include sp_only {
        position: absolute;
        top: 50%;
        right: 4%;
        display: block;
        content: "";
        width: 6px;
        height: 6px;
        margin-top: -3px;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

footer .wrapper {
    @include padding-top(4%, 30px);
}

footer .left {
    width: 50%;
    float: left;

    @include sp_only {
        width: 100%;
    }
}

footer .right {
    width: 50%;
    float: left;

    @include sp_only {
        width: 100%;
        padding-bottom: 4%;
    }
}

footer .left h2 {
    @include sp_only {
        text-align: center;
    }
}

footer address {
    @include padding-top(4%, 20px);

    @include sp_only {
        font-size: 13px;
        text-align: center;
    }
}

footer .comp {
    width: 300px;
    float: left;
    line-height: 1.4;
    padding: 7px 0 0 10px;

    @include sp_only {
        width: 100%;
        padding: 0;
    }
}

footer .time {
    @include sp_only {
        font-size: 13px;
        text-align: center;
        padding-bottom: 4%;
    }
}

footer .comp p {
    @extend .fsize_xs;
}

footer .comp h3 {
    @extend .fsize_l;
}

footer .comp h3 strong {
    font-weight: bold;
}

footer .logo {
    width: 183px;
    float: left;

    @include sp_only {
        width: 100%;
    }
}

footer .logo img {
    @include sp_only {
        width: 140px;
        margin-bottom: 2%;
    }
}

footer .right iframe {
    width: 100%;
    height: 135px;
    vertical-align: bottom;
}


footer .copy {
    text-align: center;
    color: #fff;
    background: #4d4d4d;
    margin-top: 30px;
    padding: 5px 0;
    @include size(11);

    @include sp_only {
        text-align: center;
        margin-top: 2%;
    }
}

.footer-tel {
    width: 92%;
    margin: 0 auto;
    padding-top: 4%;
}

.footer-tel p {
    text-align: center !important;
}

.footer-tel a {
    width: 100%;
    border: 1px solid $keycolor1;
    border-radius: 6px;
    display: block;
    padding: 7px 0;
    background: $keycolor1;
    color: #fff;
    font-weight: bold;

}

.footer-tel a img {
    position: relative;
    left: 20px;
}

.footer-tel a span.num {
    display: block;
    font-size: 24px;
    line-height: 1;
}

.footer-tel a span.text {
    position: relative;
}

.footer-tel a span.text:before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    left: -58px;
    top: 119%;
    background-image: url(../images/header_telmark_sp.svg);
    background-size: contain;
    vertical-align: middle;
}

#page_top {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 20;
}

#page_top img {
    @include sp_only {
        width: 50px;
    }
}

#pagination {
    position: relative;
    left: 50%;
    float: left;
    list-style: none;
    margin: 20px 0 40px;
}

#pagination .page-numbers {
    position: relative;
    left: -50%;
    float: left;
}

#pagination .page-numbers,
#pagination .page-numbers:hover {
    border: solid 1px #CECECE;
    color: #FFFFFF;
    background: #2687a8;
}

#pagination .page-numbers.current {
    border: solid 1px #CECECE;
    color: #FFFFFF;
    background: #2687a8;
}

#pagination .page-numbers {
    border: 1px solid #CECECE;
    margin: 0 3px;
    padding: 3px 7px;
    display: block;
    text-decoration: none;
    color: #666666;
    background: #fff;
}
