@charset "UTF-8";
/* padding */
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
.pt_s {
  padding-top: 2%; }
  @media screen and (min-width: 768px) {
    .pt_s {
      padding-top: 10px; } }

.pt {
  padding-top: 4%; }
  @media screen and (min-width: 768px) {
    .pt {
      padding-top: 30px; } }

.pt_l {
  padding-top: 6%; }
  @media screen and (min-width: 768px) {
    .pt_l {
      padding-top: 50px; } }

.pb_s {
  padding-bottom: 2%; }
  @media screen and (min-width: 768px) {
    .pb_s {
      padding-bottom: 10px; } }

.pb {
  padding-bottom: 4%; }
  @media screen and (min-width: 768px) {
    .pb {
      padding-bottom: 30px; } }

.pb_l {
  padding-bottom: 6%; }
  @media screen and (min-width: 768px) {
    .pb_l {
      padding-bottom: 50px; } }

/* margin */
.mt_s {
  margin-top: 2%; }
  @media screen and (min-width: 768px) {
    .mt_s {
      margin-top: 10px; } }

.mt {
  margin-top: 4%; }
  @media screen and (min-width: 768px) {
    .mt {
      margin-top: 30px; } }

.mt_l {
  margin-top: 6%; }
  @media screen and (min-width: 768px) {
    .mt_l {
      margin-top: 50px; } }

.mb_s {
  margin-bottom: 2%; }
  @media screen and (min-width: 768px) {
    .mb_s {
      margin-bottom: 10px; } }

.mb {
  margin-bottom: 4%; }
  @media screen and (min-width: 768px) {
    .mb {
      margin-bottom: 30px; } }

.mb_l {
  margin-bottom: 6%; }
  @media screen and (min-width: 768px) {
    .mb_l {
      margin-bottom: 50px; } }

/* font-size */
.fsize_xl {
  font-size: 18px;
  font-size: 1.8rem; }
  @media screen and (min-width: 768px) {
    .fsize_xl {
      font-size: 24px;
      font-size: 2.4rem; } }

.fsize_l, footer .comp h3 {
  font-size: 16px;
  font-size: 1.6rem; }
  @media screen and (min-width: 768px) {
    .fsize_l, footer .comp h3 {
      font-size: 20px;
      font-size: 2rem; } }

.fsize, #contents_outer {
  font-size: 14px;
  font-size: 1.4rem; }
  @media screen and (min-width: 768px) {
    .fsize, #contents_outer {
      font-size: 16px;
      font-size: 1.6rem; } }

.fsize_s {
  font-size: 12px;
  font-size: 1.2rem; }
  @media screen and (min-width: 768px) {
    .fsize_s {
      font-size: 14px;
      font-size: 1.4rem; } }

.fsize_xs, #pan, footer .comp p {
  font-size: 10px;
  font-size: 1rem; }
  @media screen and (min-width: 768px) {
    .fsize_xs, #pan, footer .comp p {
      font-size: 12px;
      font-size: 1.2rem; } }

/* テキスト用BOX pタグの下に改行が入る。 */
div.textbox p {
  margin-bottom: 1em; }
  div.textbox p:last-child {
    margin-bottom: 0; }

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　共通箇所 (基本タグ設定)
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
html,
body {
  width: 100%; }

html {
  font-size: 62.5%; }

body {
  background: #fff;
  text-align: center;
  line-height: 1.75;
  font-size: 13px;
  font-size: 1.3rem;
  color: #1a1a1a;
  font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Verdana, "ＭＳ ゴシック", Osaka-mono, sans-serif;
  -webkit-text-size-adjust: 100%; }
  @media screen and (min-width: 768px) {
    body {
      font-size: 16px;
      font-size: 1.6rem; } }

.wrapper {
  width: 100%;
  margin: 0px auto;
  text-align: left;
  padding: 0 4%; }
  @media print, screen and (min-width: 1040px) {
    .wrapper {
      width: 1000px;
      padding: 0; } }

/* link */
a {
  color: #1a1a1a;
  text-decoration: none;
  outline: none; }

a:link {
  color: #1a1a1a; }

a:visited {
  color: #1a1a1a; }

a:hover {
  color: #1a1a1a; }

#loading_wrap {
  background: #fff;
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: block;
  position: fixed; }

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--header
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
header {
  position: relative;
  z-index: 999; }

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--pcmenu
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
header .pcmenu {
  position: fixed;
  width: 100%;
  top: 0;
  display: block; }
  @media screen and (min-width: 768px) {
    header .pcmenu {
      display: block; } }
  @media screen and (min-width: 1040px) {
    header .pcmenu {
      display: block; } }
  @media (max-width: 767px) {
    header .pcmenu {
      display: none; } }

header .pcmenu .header_top {
  background: #fff; }

header .pcmenu .header_top h1 {
  float: left;
  padding: 3px 0 3px 15px; }

header .pcmenu .header_top .link {
  float: right; }

header .pcmenu .header_top .link li {
  float: left;
  padding: 12px 0; }

header .pcmenu .header_top .link li a {
  padding: 18px 50px 15px 31px;
  color: #fff;
  font-size: 13px;
  font-size: 1.3rem; }

header .pcmenu .header_top .link li.col1 a {
  background: #777474; }

header .pcmenu .header_top .link li a img {
  padding-right: 6px; }

header .pcmenu .header_top .link li.col2 a {
  background: #595555; }

header .pcmenu .header_top .link li.col3 a {
  background: #c73c25; }

header .pcmenu .header_bottom .box {
  background: rgba(108, 189, 51, 0.9);
  color: #fff;
  width: none;
  text-align: left;
  padding: none; }
  @media screen and (min-width: 768px) {
    header .pcmenu .header_bottom .box {
      width: 260px; } }
  @media screen and (min-width: 1040px) {
    header .pcmenu .header_bottom .box {
      width: 360px; } }
  @media screen and (min-width: 768px) {
    header .pcmenu .header_bottom .box {
      padding: 10px 0 10px 10px; } }
  @media screen and (min-width: 1040px) {
    header .pcmenu .header_bottom .box {
      padding: 10px 0 10px 100px; } }

header .pcmenu .header_bottom .box .tel {
  font-size: 28px;
  line-height: 1.25;
  font-weight: bold; }

header .pcmenu .header_bottom .box .tel img {
  padding-right: 4px;
  padding-bottom: 2px; }

header .pcmenu .header_bottom .box .time {
  font-size: 14px;
  padding-left: 34px; }

header .pcmenu .header_bottom {
  position: relative; }

header .pcmenu .header_bottom .line {
  position: absolute;
  top: 0;
  right: 0;
  width: 625px;
  height: 4px;
  background: #6cbd33; }

header .pcmenu .header_top nav {
  background: rgba(255, 255, 255, 0.95); }
  @media print, screen and (min-width: 768px) {
    header .pcmenu .header_top nav {
      width: auto;
      float: right; } }
  @media print, screen and (min-width: 1040px) {
    header .pcmenu .header_top nav {
      width: auto;
      float: right; } }

header .pcmenu .header_top nav ul {
  padding-right: 15px; }
  @media print, screen and (min-width: 1040px) {
    header .pcmenu .header_top nav ul {
      display: block; } }

header .pcmenu .header_top nav ul li {
  position: relative;
  float: left;
  display: block;
  line-height: 1.4; }

header .pcmenu .header_top nav ul li:before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 5px;
  height: 25px;
  background-image: url(../images/header_line.svg);
  background-size: contain;
  vertical-align: middle;
  right: -3px;
  top: 22px; }

header .pcmenu .header_top nav ul li:first-of-type:after {
  position: absolute;
  content: '';
  display: inline-block;
  width: 5px;
  height: 25px;
  background-image: url(../images/header_line.svg);
  background-size: contain;
  vertical-align: middle;
  left: -1px;
  top: 22px; }

header .pcmenu .header_top nav ul li a {
  text-align: center;
  display: block;
  position: relative;
  font-size: 13px;
  font-size: 1.3rem;
  position: relative; }
  @media print, screen and (min-width: 768px) {
    header .pcmenu .header_top nav ul li a {
      padding: 25px 20px; } }
  @media print, screen and (min-width: 1040px) {
    header .pcmenu .header_top nav ul li a {
      padding: 25px 27px; } }

header .pcmenu .header_top nav ul li a:hover {
  background: #6cbd33;
  color: #fff !important;
  z-index: 99;
  position: relative; }

header .pcmenu .header_top nav ul li ul.drop {
  position: absolute;
  display: none;
  float: none;
  z-index: 99999;
  border: none;
  background: none;
  margin-right: 15px;
  width: auto;
  left: -20px; }

header .pcmenu .header_top nav ul li ul.drop li {
  background: none;
  border: none;
  float: none;
  position: static;
  padding: 0px;
  display: block;
  width: 120px; }

header .pcmenu .header_top nav ul li ul.drop li:after {
  content: none; }

header .pcmenu .header_top nav ul li ul.drop li a {
  display: block;
  float: none;
  border-bottom: 1px solid #eee;
  background: white;
  text-align: center;
  width: auto;
  padding: 9px 7px 7px;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 1.6;
  font-weight: normal;
  margin: 0;
  font-size: 13px;
  font-size: 1.3rem; }

header .pcmenu .header_top nav ul li ul.drop li:last-of-type a {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  border-bottom-left-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px; }

header .pcmenu .header_top nav ul li ul.drop li a:hover {
  background: #6cbd33;
  color: #fff; }

header .pcmenu .header_top nav ul li ul.drop li a:hover:after {
  transform: scale(0, 0); }

header.fixed {
  background: white;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

header.fixed .pcmenu nav ul li a {
  color: #1a1a1a !important;
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  -ms-transition: all 0s ease;
  -o-transition: all 0s ease;
  transition: all 0s ease; }
  header.fixed .pcmenu nav ul li a:hover {
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -ms-transition: all 0s ease;
    -o-transition: all 0s ease;
    transition: all 0s ease; }

header.fixed .pcmenu nav ul li a span.en {
  color: #6cbd33 !important; }

header.fixed .pcmenu nav ul li a:hover {
  color: #2687a8; }

header.fixed .pcmenu nav ul li:last-child a span.en {
  color: #fff !important; }

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--spmenu
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
header .spmenu {
  z-index: 999999;
  width: 100%;
  height: 52px;
  top: 0;
  display: block;
  position: fixed;
  background: #fff; }
  @media screen and (min-width: 768px) {
    header .spmenu {
      display: none; } }
  @media screen and (min-width: 1040px) {
    header .spmenu {
      display: none; } }
  @media (max-width: 767px) {
    header .spmenu {
      border-bottom: 2px solid #6cbd33; } }

header .spmenu .nav-top {
  background: #fff;
  border-bottom: 1px solid #6cbd33; }

header .spmenu .nav-top ul {
  width: 92%;
  margin: 0 auto;
  padding: 2% 0; }

header .spmenu .nav-top ul li {
  float: left;
  padding-right: 2%; }

header .spmenu .nav-top ul li img {
  width: 35px; }

@media (max-width: 767px) {
  .drawermenu .inner {
    border-top: none !important; } }

header .spmenu h1 {
  text-align: left;
  padding: 6px 0 0 10px; }

@media (max-width: 767px) {
  header .spmenu h1 img {
    width: 126px; } }

header .spmenu .drawer-hamburger {
  width: 2.6rem;
  padding: 14px 3% 23px;
  position: fixed;
  z-index: 99999; }

header .spmenu .drawer-brand {
  max-width: 200px;
  margin-left: -15px; }

header .spmenu .drawer-brand img {
  width: 84%;
  height: auto;
  margin-top: 7px; }

header .spmenu .drawer-menu-item {
  text-align: left;
  padding: 5% 8% 5% 4%;
  background: #fff;
  position: relative;
  font-size: 13px;
  font-size: 1.3rem; }

header .spmenu .drawer-menu-item span {
  font-size: 11px;
  padding-left: 8%;
  color: #6cbd33; }

header .spmenu .drawer-menu li {
  width: 50%;
  float: left; }

header .spmenu .drawer-menu li:nth-child(2n) .drawer-menu-item {
  border-left: 1px solid #6cbd33; }

header .spmenu .color .drawer-menu-item {
  color: #000;
  background: #fff;
  border-bottom: 2px solid #6cbd33; }

header .spmenu li #acMenu dt {
  text-align: left;
  padding: 3% 4%;
  font-size: 15px;
  font-size: 1.5rem;
  background: #595555;
  color: #fff; }

header .spmenu li #acMenu dd {
  background: #ffffff;
  text-align: center;
  display: none;
  margin: 0px;
  padding: 0px; }

header .spmenu li #acMenu .accordion_icon,
.accordion_icon span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box; }

header .spmenu li #acMenu .accordion_icon {
  position: relative;
  width: 20px;
  height: 20px;
  float: right;
  margin-right: -5px;
  top: 7px;
  margin-bottom: 0px !important; }

header .spmenu li #acMenu .accordion_icon span {
  position: absolute;
  left: 6px;
  width: 50%;
  height: 1px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px; }

header .spmenu li #acMenu .accordion_icon span:nth-of-type(1) {
  top: 5px;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg); }

header .spmenu li #acMenu .accordion_icon span:nth-of-type(2) {
  top: 5px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg); }

/*＋、－切り替え*/
header .spmenu li #acMenu .accordion_icon.active span:nth-of-type(2) {
  display: none; }

#acMenu .accordion_icon.active span:nth-of-type(1) {
  top: 5px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg); }

header .spmenu .inner {
  background-repeat: no-repeat;
  width: 100%;
  height: 1000px; }

header .spmenu .drawer-menu-item:after {
  position: absolute;
  top: 50%;
  right: 4%;
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  margin-top: -3px;
  border-top: 1px solid #6cbd33;
  border-right: 1px solid #6cbd33;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

header .spmenu .color .drawer-menu-item:after {
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa; }

header .spmenu .drawer-menu-item:hover {
  text-decoration: underline; }

header .spmenu .drawer-nav {
  background-color: rgba(0, 0, 0, 0.8) !important; }

header .spmenu .drawer-hamburger {
  width: 2.6rem;
  padding: 10px 16px 30px;
  position: fixed;
  z-index: 99999;
  margin-top: 0px;
  background: #6cbd33; }

header .spmenu #menu-text {
  position: absolute;
  padding-top: 15px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  left: 14px; }

.drawer-close #menu-text {
  left: 14px !important; }

.drawer-hamburger-icon,
.drawer-hamburger-icon:after,
.drawer-hamburger-icon:before {
  background-color: #fff !important; }

header .spmenu .nav-top {
  display: block;
  background: #fff;
  border-bottom: 1px solid #6cbd33; }
  @media screen and (min-width: 768px) {
    header .spmenu .nav-top {
      display: none; } }
  @media screen and (min-width: 1040px) {
    header .spmenu .nav-top {
      display: none; } }

.spmenu .drawer-hamburger {
  background: #6cbd33; }

.drawer-open .drawer-hamburger-icon {
  background-color: transparent;
  background: #6cbd33 !important; }

header .spmenu .sp-title {
  padding: 2% 4% 2% 2%;
  text-align: left;
  font-weight: bold;
  color: #fff;
  background: #6cbd33; }

header .spmenu .nav-top ul li a {
  width: 100%;
  display: block;
  background: #ffffcb;
  border: 1px solid #6cbd33;
  padding: 6px 0 0;
  border-radius: 5px; }

header .spmenu .nav-top ul li .text {
  font-size: 10px;
  line-height: 0;
  top: -1px;
  position: relative;
  color: #6cbd33;
  display: block;
  padding: 10px 0; }

header .spmenu .nav-top ul li {
  float: left;
  margin-right: 2%;
  width: 49%; }

header .spmenu .nav-top ul li:last-of-type {
  margin-right: 0%; }

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--pagetitle
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#pagetitle-photo {
  margin-top: 52px;
  width: 100%;
  text-align: center;
  background-size: cover; }
  @media screen and (min-width: 768px) {
    #pagetitle-photo {
      margin-top: 68px; } }

#pagetitle-photo.concept {
  background: url(../images/pagetitle_concept.jpg) no-repeat center;
  height: 160px; }
  @media screen and (min-width: 768px) {
    #pagetitle-photo.concept {
      height: 222px; } }
  @media screen and (min-width: 1040px) {
    #pagetitle-photo.concept {
      height: 324px; } }
  @media (max-width: 767px) {
    #pagetitle-photo.concept {
      background: url(../images/pagetitle_concept_sp.jpg) no-repeat center; } }

#pagetitle-photo.sales {
  background: url(../images/pagetitle_sales.jpg) no-repeat center;
  height: 168px;
  background-size: cover; }
  @media screen and (min-width: 768px) {
    #pagetitle-photo.sales {
      height: 228px; } }
  @media screen and (min-width: 1040px) {
    #pagetitle-photo.sales {
      height: 384px; } }

#pagetitle-photo.staff {
  background: url(../images/pagetitle_staff.jpg) no-repeat center;
  height: 168px;
  background-size: cover; }
  @media screen and (min-width: 768px) {
    #pagetitle-photo.staff {
      height: 228px; } }
  @media screen and (min-width: 1040px) {
    #pagetitle-photo.staff {
      height: 384px; } }

#pagetitle-photo.company {
  background: url(../images/pagetitle_company.jpg) no-repeat center;
  height: 168px;
  background-size: cover; }
  @media screen and (min-width: 768px) {
    #pagetitle-photo.company {
      height: 228px; } }
  @media screen and (min-width: 1040px) {
    #pagetitle-photo.company {
      height: 384px; } }

.pagetitle-text {
  background: #f2f2f2; }

.pagetitle-text h2 {
  font-weight: 900;
  color: #1a1a1a;
  font-size: 22px;
  font-size: 2.2rem;
  text-align: center;
  line-height: 1.3;
  padding: 4% 0 4%; }
  @media screen and (min-width: 768px) {
    .pagetitle-text h2 {
      font-size: 38px;
      font-size: 3.8rem; } }
  @media screen and (min-width: 768px) {
    .pagetitle-text h2 {
      padding: 15px 0 25px; } }

.pagetitle-text h2 span.small {
  color: #6cbd33;
  font-size: 12px;
  font-size: 1.2rem;
  display: block;
  font-weight: bold; }
  @media screen and (min-width: 768px) {
    .pagetitle-text h2 span.small {
      font-size: 16px;
      font-size: 1.6rem; } }

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--pan
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#pan {
  text-align: left;
  padding: 3px 5px 0;
  margin-bottom: 2%; }
  @media screen and (min-width: 768px) {
    #pan {
      margin-bottom: 20px; } }
  @media screen and (min-width: 1040px) {
    #pan {
      margin-bottom: 20px; } }
  @media (max-width: 767px) {
    #pan {
      display: none; } }

#pan a:hover {
  text-decoration: underline; }

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--contents
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media print, screen and (min-width: 1040px) {
  #contents_wrap {
    margin-top: -48px; } }

#contents_outer {
  text-align: left;
  width: 100%; }
  @media screen and (min-width: 768px) {
    #contents_outer {
      margin: 0 auto 0; } }
  @media screen and (min-width: 768px) {
    #contents_outer {
      width: 100%; } }
  @media screen and (min-width: 1040px) {
    #contents_outer {
      width: 1000px; } }

#contents_outer #main_contents {
  width: 92%;
  float: left;
  margin-right: 40px; }
  @media screen and (min-width: 768px) {
    #contents_outer #main_contents {
      width: 92%; } }
  @media screen and (min-width: 1040px) {
    #contents_outer #main_contents {
      width: 690px; } }
  @media (min-width: 768px) and (max-width: 1040px) {
    #contents_outer #main_contents {
      margin: 0 auto;
      display: block;
      float: none; } }
  @media (max-width: 767px) {
    #contents_outer #main_contents {
      margin: 0 auto;
      display: block;
      float: none; } }

#main_contents.col1 {
  width: 100%;
  margin-right: auto; }
  @media screen and (min-width: 768px) {
    #main_contents.col1 {
      width: 100%; } }
  @media screen and (min-width: 1040px) {
    #main_contents.col1 {
      width: 690px; } }

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--sidebar
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#sidebar {
  width: 270px;
  float: left; }
  @media (min-width: 768px) and (max-width: 1040px) {
    #sidebar {
      width: 100%;
      float: none; } }
  @media (max-width: 767px) {
    #sidebar {
      width: 100%;
      float: none;
      padding-top: 4%;
      background: #f2f2f2; } }

@media (min-width: 768px) and (max-width: 1040px) {
  #sidebar ul {
    padding-top: 4%; } }
@media (max-width: 767px) {
  #sidebar ul {
    width: 92%;
    margin: 0% auto 0; } }

@media (min-width: 768px) and (max-width: 1040px) {
  #sidebar ul li {
    margin-bottom: 0;
    padding-top: 0;
    width: 18.8%;
    float: left;
    margin-left: 1%; } }
@media (max-width: 767px) {
  #sidebar ul li {
    margin-bottom: 4%;
    padding-top: 0;
    width: 48%;
    float: left;
    margin-right: 4%; } }

@media (min-width: 768px) and (max-width: 1040px) {
  #sidebar ul li:last-of-type {
    margin-right: 1%; } }

@media (max-width: 767px) {
  #sidebar ul li:nth-child(2n) {
    margin-right: 0%; } }

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--footer
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
footer {
  background: #fff; }

footer nav ul li {
  float: left; }

footer nav {
  background: #6cbd33; }

footer nav ul {
  margin: 0 auto;
  display: flex;
  justify-content: center; }
  @media (max-width: 767px) {
    footer nav ul {
      display: block; } }

footer nav ul li {
  padding: 20px 0px; }
  @media (max-width: 767px) {
    footer nav ul li {
      padding: 0% 0%;
      width: 100%; } }

footer nav ul li:first-of-type a {
  border-left: 1px solid #cccccc; }
  @media (max-width: 767px) {
    footer nav ul li:first-of-type a {
      border-left: none; } }

footer nav ul li a {
  padding: 0px 30px;
  text-align: center;
  display: block;
  position: relative;
  color: #fff !important;
  border-right: 1px solid #cccccc;
  font-size: 13px;
  font-size: 1.3rem;
  position: relative; }
  @media (max-width: 767px) {
    footer nav ul li a {
      text-align: left;
      text-decoration: none;
      display: block;
      border-bottom: 1px solid #fff;
      padding: 2% 4%;
      position: relative;
      border-right: none; } }

@media (max-width: 767px) {
  footer nav ul li a:after {
    position: absolute;
    top: 50%;
    right: 4%;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); } }

footer .wrapper {
  padding-top: 4%; }
  @media screen and (min-width: 768px) {
    footer .wrapper {
      padding-top: 30px; } }

footer .left {
  width: 50%;
  float: left; }
  @media (max-width: 767px) {
    footer .left {
      width: 100%; } }

footer .right {
  width: 50%;
  float: left; }
  @media (max-width: 767px) {
    footer .right {
      width: 100%;
      padding-bottom: 4%; } }

@media (max-width: 767px) {
  footer .left h2 {
    text-align: center; } }

footer address {
  padding-top: 4%; }
  @media screen and (min-width: 768px) {
    footer address {
      padding-top: 20px; } }
  @media (max-width: 767px) {
    footer address {
      font-size: 13px;
      text-align: center; } }

footer .comp {
  width: 300px;
  float: left;
  line-height: 1.4;
  padding: 7px 0 0 10px; }
  @media (max-width: 767px) {
    footer .comp {
      width: 100%;
      padding: 0; } }

@media (max-width: 767px) {
  footer .time {
    font-size: 13px;
    text-align: center;
    padding-bottom: 4%; } }

footer .comp h3 strong {
  font-weight: bold; }

footer .logo {
  width: 183px;
  float: left; }
  @media (max-width: 767px) {
    footer .logo {
      width: 100%; } }

@media (max-width: 767px) {
  footer .logo img {
    width: 140px;
    margin-bottom: 2%; } }

footer .right iframe {
  width: 100%;
  height: 135px;
  vertical-align: bottom; }

footer .copy {
  text-align: center;
  color: #fff;
  background: #4d4d4d;
  margin-top: 30px;
  padding: 5px 0;
  font-size: 11px;
  font-size: 1.1rem; }
  @media (max-width: 767px) {
    footer .copy {
      text-align: center;
      margin-top: 2%; } }

.footer-tel {
  width: 92%;
  margin: 0 auto;
  padding-top: 4%; }

.footer-tel p {
  text-align: center !important; }

.footer-tel a {
  width: 100%;
  border: 1px solid #6cbd33;
  border-radius: 6px;
  display: block;
  padding: 7px 0;
  background: #6cbd33;
  color: #fff;
  font-weight: bold; }

.footer-tel a img {
  position: relative;
  left: 20px; }

.footer-tel a span.num {
  display: block;
  font-size: 24px;
  line-height: 1; }

.footer-tel a span.text {
  position: relative; }

.footer-tel a span.text:before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  left: -58px;
  top: 119%;
  background-image: url(../images/header_telmark_sp.svg);
  background-size: contain;
  vertical-align: middle; }

#page_top {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 20; }

@media (max-width: 767px) {
  #page_top img {
    width: 50px; } }

#pagination {
  position: relative;
  left: 50%;
  float: left;
  list-style: none;
  margin: 20px 0 40px; }

#pagination .page-numbers {
  position: relative;
  left: -50%;
  float: left; }

#pagination .page-numbers,
#pagination .page-numbers:hover {
  border: solid 1px #CECECE;
  color: #FFFFFF;
  background: #2687a8; }

#pagination .page-numbers.current {
  border: solid 1px #CECECE;
  color: #FFFFFF;
  background: #2687a8; }

#pagination .page-numbers {
  border: 1px solid #CECECE;
  margin: 0 3px;
  padding: 3px 7px;
  display: block;
  text-decoration: none;
  color: #666666;
  background: #fff; }

/*# sourceMappingURL=layout.css.map */
