@charset "utf-8";
@import "base/_config";
@import "base/_mixin";
@import "base/_extend";


/********************************************************************************
　--index
*********************************************************************************/
#page_index section.mainvisual {
    min-height:460px;
    background-size: cover;
    @include padding(4% 0 4%, 50px 0 50px, 100px 0 50px);
    @include margin-top(52px,52px,112px);
    @include sp_only {
        min-height:460px;
    }
}

#page_index section.mainvisual .bx-wrapper {
    margin: 0 auto;
    box-shadow: none;
    border: none;
    @include width(92%, 92%, 900px);

}
#page_index section.mainvisual #vegas-text {
    width:470px;
    background:#fff;
    margin-left:auto;
    z-index: 99;
    margin-top:0!important;
    position: relative;
    @include sp_only {
        width: 92%;
        margin: 0 auto;
        bottom: 4%;
        position: absolute;
        left: 4%;
    }
}
#page_index section.mainvisual #vegas-text:before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 10px;
    height: 100px;
    background-image: url(../images/maintext_l_line.svg);
    background-size: contain;
    vertical-align: middle;
    left: -5px;
    bottom: -3px;
}
#page_index section.mainvisual #vegas-text:after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 305px;
    height: 11px;
    background-image: url(../images/maintext_b_line.svg);
    background-size: contain;
    vertical-align: middle;
    left: -6px;
    bottom: -6px;

}
#mainvisual #vegas-msg {
    margin-top:0!important;
    color:#000!important;
    padding:15px 20px;
    text-align: left;
}
#mainvisual #vegas-msg h3 {
    @include size(22,42);
    line-height:1.4;
    font-weight: 900;
}
#mainvisual #vegas-msg p {
    @extend .fsize;
    letter-spacing: -2px;
    padding-top:10px;
    font-weight: normal;
    @include sp_only {
        font-size:12px;
    }

}
#mainvisual #vegas-msg p br {
    @include sp_only {
        display: none;
    }
}
#mainvisual #vegas-msg h3 span {
    @include size(12,16);
    display: block;
    color:$keycolor1;
    font-weight: normal;
}
.vegas-wrapper {
    padding-top:140px!important;
}

#page_index section.top_menu {
    background: url(../images/index_topmenu_bg.jpg) repeat;
}

#page_index section.top_menu h3 {
    font-weight: bold;
    text-shadow: 2px 2px 1px #fff,
    -2px 2px 1px #fff,
    2px -2px 1px #fff,
    -2px -2px 1px #fff;
	color: #444;
	font-size: 24px;
    @include size(15,24);
	display: flex;
	align-items: center;
}
#page_index section.top_menu h3:before,
#page_index section.top_menu h3:after {
	content: "";
	flex-grow: 1;
	height: 2px;
	background: #444;
	display: block;
}
#page_index section.top_menu h3:before {
	margin-right: 1em;
}
#page_index section.top_menu h3:after {
	margin-left: 1em;
}
#page_index section.top_menu h3 .green {
    color:$keycolor1;
}

#page_index section.top_menu .grid_col3 .col {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;    
    &:nth-child(3n) {
        margin-right: 0;
    }
}

@media screen and (max-width: 650px) {
    #page_index section.top_menu .grid_col3 .col {
        width: 100%;
        margin-right: 0%;
        margin-bottom: 4%;    
    }
    .photo_title .photo {
        width: 35%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -moz-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        justify-content: center;
    }
    .photo_title figure {
        border:none;
        background: #fff;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -moz-flex;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        width: 100%;
        position: relative;
    }
    .photo_title figcaption:after {
        position: absolute;
        top: 53%;
        right: 15px;
        display: block;
        content: "";
        width: 5px;
        height: 5px;
        margin-top: -3px;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .photo_title a:hover figure {
        border:none;
    }
    .photo_title figcaption {
        width: 65%;
        position: relative;
        text-align: left;
        display: flex;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        align-items: center;
        justify-content: center;
        line-height: 2;
    }
}



#page_index section.bottom_menu .type1 {
    background:#fff;
}
#page_index section.service .type2 {
    background:#e5e5e5;
}


#page_index section.bottom_menu .photo1 {
    background:  url(../images/index_bottommenu_photo1.jpg) no-repeat center;
    background-size: cover;
    @include height(180px,380px);
    margin-bottom:0!important;
    position: relative;
    @include width(100%,100%,60%);
}
#page_index section.bottom_menu .photo2 {
    background: url(../images/index_bottommenu_photo2.jpg) no-repeat center;
    background-size: cover;
    @include height(180px,380px);
    margin-bottom:0!important;
    position: relative;
    @include width(100%,100%,60%);
}
#page_index section.bottom_menu .photo3 {
    background: url(../images/index_bottommenu_photo3.jpg) no-repeat center;
    background-size: cover;
    @include height(180px,380px);
    margin-bottom:0!important;
    position: relative;
    @include width(100%,100%,60%);
}
#page_index section.bottom_menu .photo4 {
    background: url(../images/index_bottommenu_photo4.jpg) no-repeat center;
    background-size: cover;
    @include height(180px,380px);
    margin-bottom:0!important;
    position: relative;
    @include width(100%,100%,60%);
}

#page_index section.bottom_menu .enter-bottom {
    @include width(100%,100%,360px);
    @incliude padding(2%,15px);
}

#page_index section.bottom_menu .type1 .enter-bottom {
    margin-right:auto;
}
#page_index section.bottom_menu .type2 .enter-bottom {
    margin-left:auto;

}

#page_index section.bottom_menu h3 {
    color:$keycolor1;
    @extend .fsize_l;
    border-bottom: 3px solid #b3b3b3;
    position: relative;
    @include size(18,22);
    text-align: center;
}
#page_index section.bottom_menu p {
    line-height: 1.4;
    @include size(13,15);
    text-align: left;
}
#page_index section.bottom_menu .outer {
    @include tab_only {
        padding-top:2%;
    }
    @include sp_only {
        padding-top:2%;
    }
}
#page_index section.bottom_menu .linkbtn1 {
    text-align: center;
}
#page_index section.bottom_menu .outer {
    width: 100%;
    @include tab_only {
        width: 52%;
        margin: 0 auto;
    }
    @include sp_only {
        width: 73%;
        margin: 0 auto;
    }
}
#page_index section.bottom_menu .left {
    width: 46%;
    float:left;
}
#page_index section.bottom_menu .right {
    width: 46%;
    float:left;
    margin-left:8%;
}
#page_index section.bottom_menu h3:after {
    content: ".";
    line-height: 0;
    display: block;
    overflow: hidden;
    position: absolute;
    bottom: -3px;
    width: 30%;
    border-bottom: 3px solid $keycolor1;
}

/********************************************************************************
　--concept
*********************************************************************************/
#page_concept .top-title.concept {
    background: url(../images/concept_title.jpg) no-repeat center;
    background-size: cover;
    @include padding(8% 0 18%,60px 0 180px);
}
#page_concept .top-title.concept h3 {
    @include size(15,20);
    @include sp_only {
        width: 92%;
        margin:0 auto;
        color:#6cbd33;
        line-height: 1.5;
    }
    @media screen and (max-width:540px) {
        text-align: left;
    }
}
#page_concept .top-title.concept h3 .line {
    border-bottom: 4px solid #6cbd33;
    padding-bottom: 10px;
    @include sp_only {
        border-bottom:none;
    }
}
#page_concept .top-title.concept p {
    @include size(16,32);
    line-height: 1.4;
    @include margin-top(4%,50px);
    font-weight: 600;
    color:#333333;
    letter-spacing: 3px;
}

#page_concept .top-title.concept p .big{
    @include size(20,38);
    display: block;
    
}
#page_concept .top-title.concept p .green{
    color:#6cbd33;   
}


#page_concept section.concept {
    @include padding-top(8%,60px);
}
#page_concept section.concept .headtitle {
    position: relative;
    border-bottom:1px dashed #6cbd33;
    padding-bottom: 5px;
    margin-bottom: 30px;
    @include margin-left(40px,63px);
}
#page_concept section.concept .headtitle img {
    @include sp_only {
        width: 212px;
    }
}
#page_concept section.concept .headtitle:before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 60px;
    height: 60px;
    left: -62px;
    top: 1%;
    background-image: url(../images/concept_headtitle_icon.svg);
    background-size: contain;
    vertical-align: middle;
    @include sp_only {
        width: 38px;
        height: 38px;
        left: -40px;
    }
}

#page_concept section.concept .headtitle .num {
    margin-left: 1px;
    font-size: 26px;
    background-color: #f15a24;
    color: white;
    /* font-weight: bold; */
    top: 2px;
    position: relative;
    padding: 1px 9px;
    border-radius: 21px;
    font-family: 'arial';
    @include sp_only {
        font-size:16px;
        padding: 1px 5px;
        top:3px;
    }
}
#page_concept section.concept .outer {
    width: 100%;
    @include sp_only {
        padding-bottom:4%;
    }
}
#page_concept section.concept .outer .left {
    @include width(100%,46%);
    float:left;
    @include margin-right(0,4%);
    @include sp_only {
        margin-bottom:8%;
    }
}
#page_concept section.concept .outer .right {
    @include width(100%,50%);
    float:left;
}
#page_concept section.concept .outer .photo {
    padding: 12px;
    box-shadow:0px 0px 6px 3px #d8d8d8;
    position: relative;
    padding-top:20px;
}

#page_concept section.concept .outer .left .tape {
    position: absolute;
    top:-20px;
    left: 40%;    
}
#page_concept section.concept .outer .right h4 {
    color:#6cbd33;
    @include size(18,24);
    line-height: 1.4;
    font-weight: bold;
    letter-spacing: -1px;
    @include sp_only {
        text-align: center;
    }
}
#page_concept section.concept .outer .right p {
    line-height: 1.4;
    letter-spacing: 0px;
    padding-top:20px;
}
#page_concept section.concept .obi img {
    width:100%;
    padding-top:40px;
    @include sp_only {
        padding-top:0;
    }
}


/********************************************************************************
　--sales
*********************************************************************************/
#page_sales .top-title {
    background: url(../images/sales_title.jpg) no-repeat center;
    background-size: cover;
    @include padding(4% 0,4% 0,60px 0 120px);
    @include tab_only {
        background: #fff;
    }
    @include sp_only {
        background: #fff;
    }

}
#page_sales .sp-photo {
    @include tab_only {
        width: 92%;
        margin:0 auto;
        display: block;
    }
    @include sp_only {
        width: 92%;
        margin:0 auto;
        display: block;
    }

}
#page_sales .sp-photo img {
    width: 100%;
}
#page_sales .headline {
    @include size(18,24);
    border-bottom:2px dashed #b3b3b3;
    text-align: center;
    color:#333333;
    padding-bottom:20px;
    marging-bottom:20px;
}
#page_sales .top-title h3 {
    color:#4d4d4d;
    @include size(17,24,30);
    @include padding-bottom(4%,40px);
    line-height: 1.4;
    @include sp_only {
        width: 92%;
        margin:0 auto;
    }
    @media screen and (max-width:370px) {
        text-align: left;
    }
}
#page_sales .top-title h3 br {
    @media screen and (max-width:370px) {
        display: none;
    }
}
#page_sales .top-title .outer  {
    @include width(92%,92%,54%);

    margin-left: auto;
    text-align: left;
    @inlucde padding-top(4%,60px); 
    @include tab_only {
        margin:0 auto;
    }
    @include sp_only {
        margin:0 auto;
    }
}
#page_sales .top-title .outer h4 {
    color:#6cbd33;
    @include size(15,24);
    @include text-align(center,center,left);
}
@media screen and (max-width: 410px) {
    #page_sales .top-title .outer h4 {
        text-align: left;
    }
}
#page_sales .top-title .outer p {
    @include padding-top(2%,20px);
    line-height: 1.7;
}
#page_sales .top-title .outer p br {
    @include display(none,none,block);
}
#page_sales section.price {
    @include pc_only {
        padding-bottom: 40px;
    }
    @include tab_only {
        padding-bottom: 2%;
    }
    @include sp_only {
        padding-bottom: 2%;
    }
}
#page_sales section.price .outer {
    position: relative;
    @include pc_only {
        padding-bottom: 45px;
    }
    @include tab_only {
        padding-bottom: 0px;
    }
    @include sp_only {
        padding-bottom: 0px;
    }

}
#page_sales section.price .msgbox {
    width: 450px;
    @include size(13,15);
    position: absolute;
    right: 0;
    bottom: 20px;
    padding: 15px 20px;
    border: 4px solid #e6e6e6;
    @include tab_only {
        position: relative;
        width: 100%;
        margin-top:4%;
    }
    @include sp_only {
        position: relative;
        width: 100%;
        margin-top:4%;
    }
}
#page_sales section.price .msgbox .red {
    color:#c1272d;
}
#page_sales .flow dl {
    width: 100%;
}
#page_sales .flow dt {
    width: 100%;
    background: #6cbd33;
    color:#fff;
}
#page_sales .flow dt .num {
    background: #4c9910;
    float:left;
    @include margin-right(4%,25px);
    @include padding(4px 4%,7px 20px);
    font-family: 'arial';
    @include size(16,22);
}
#page_sales .flow dd {
    border-left:2px solid #6cbd33;
    border-right:2px solid #6cbd33;
    border-bottom:2px solid #6cbd33;
    padding:20px 20px 20px 60px;
    @include sp_only {
        font-size: 13px;
    }
}
#page_sales .flow dd br {
    @include tab_only {
        display: none;
    }
    @include sp_only {
        display: none;
    }
}
#page_sales .flow dt .text {
    @include size(15,20);
    position: relative;
    @include top(4px,7px);
}

#page_sales .line {
    background:#00b900;
}
#page_sales .line img {
    @include sp_only {
        width: 250px;
    }
}
#page_sales .line h4 {
    color:#ffff00;
    display: block;
    width: 100%;
    border-bottom:1px solid #fff;
    text-align: center;
    @include size(15,20);
    @media screen and (max-width:500px) {
        text-align: left;
    }
}
#page_sales .line ul li {
    float:left;
    color:#fff;
    margin-right: 15px;
    margin-left: 10px;
    position: relative;
    padding-left:25px;
    @include size(13,15);
    @include sp_only {
        line-height: 1.7;
    }
}
#page_sales .line ul li:before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 23px;
    height: 23px;
    left: 0px;
    top: 8%;
    background-image: url(../images/check_icon.svg);
    background-size: contain;
    vertical-align: middle;
    @include sp_only {
        width: 15px;
        height: 15px;
        top: 16%;
    }
}


#page_sales .line_cont {
    background: url(../images/sales_line_bg.jpg) repeat;
}

#page_sales .line_cont h3 {
    background: #2cbf13;
    text-align: center;
    color: #fff;
    padding: 6px 0 10px;
    font-weight: bold;
    @include size(16,20);
}

#page_sales .line_cont ul {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    background: #fff;
    @include padding(0, 10px 0);
}

#page_sales .line_cont ul li {
    min-height: 192px;
    float: left;
    width: 33.333%;
    padding:0 2%;
    @include sp_only {
        width: 100%;
        padding:0 4% 4%;
        min-height: 0;
    }

}
#page_sales .line_cont ul li:first-of-type {
    border-right: 1px solid #00b900;
    @include sp_only {
        border-right: none;
        border-bottom: 1px solid #00b900;
    }

}
#page_sales .line_cont ul li:last-of-type {
    border-left: 1px solid #00b900;
    @include sp_only {
        border-right: none;
        border-top: 1px solid #00b900;
        padding-bottom:0;
        border-left: none;
    }
}
#page_sales .line_cont dt  {
    text-align: center;
    margin:0px auto;
}
#page_sales .line_cont dt .num {
    font-size: 20px;
    background-color: #ff931e;
    color: white;
    top: 2px;
    position: relative;
    padding: 2px 14px;
    display: inline-block;
    border-radius: 26px;
    font-family: 'arial';
    margin: 10px 0 10px;
}

#page_sales .line_cont dt .text {
    @include text-align(center,left);
    line-height: 1.4;
    @include size(13);
    @include padding(0, 0 16%);
    position: relative;
}

#page_sales .line_cont .line_id {
    @include margin-top(2%,20px);
    padding:10px 3px;
    background: #e1efd0;
    @include sp_only {
        display: inline-block;
        padding:7px 4%;
    }
}
#page_sales .line_cont .btn {
    @include margin-top(2%,20px);
}
#page_sales .line_cont .btn img {
    @include sp_only {
        width:120px;
        
    }
}
#page_sales .obi {
    background: url(../images/sales_obi.jpg) no-repeat center;
    background-size: cover;
    @include height(91px,182px);
}

/********************************************************************************
　--staff
*********************************************************************************/
#page_staff .staff_list {
    background: url(../images/staff_bg.jpg) no-repeat center;
    background-size: cover;
}
#page_staff .staff_list dl {
    width: 100%;
}
#page_staff .staff_list dl dt {
    background: #fff;
    width: 38%;
    float:left;
    @include sp_only {
        width: 100%;
    }
}
#page_staff .staff_list dl dd {
    width: 62%;
    float:left;
    background: #fff;
    padding: 80px 40px;
    position: relative;
    @include sp_only {
        width: 100%;
        padding:4% 4% 12% 4%;
    }

}

#page_staff .staff_list dl dd:after {
    content: "";
    position: absolute;
    bottom:0;
    right:0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 80px 140px;
    border-color: transparent transparent #eff7e8 transparent;
    @include sp_only {
        border-width: 0 0 34px 60px;
    }
}
#page_staff .staff_list dd h3 {
    font-family: $font_mincho;
    @include size(18,32);
    border-bottom:2px solid #6cbd33;
    padding-bottom:6px;
}
#page_staff .staff_list dd p {
    padding-top:15px;

}

#page_staff .staff_list dd h3 .job {
    @include size(12,16);
    color:#6cbd33;
    font-family: $font_family;
    padding-left:20px;
}

#page_staff .recruit h3 {
    background: #6cbd33;
    text-align: center;
    color: #fff;
    letter-spacing: 4px;
    padding: 6px 0 10px;
    font-weight: bold;
    @include size(16,24);
}
#page_staff .recruit .outer {
    background: #fff;
    @include padding(4% ,4%,30px 40px);
    border-left:2px solid #6cbd33;
    border-bottom:2px solid #6cbd33;
    border-right:2px solid #6cbd33;
}

#page_staff .recruit .outer .left {
    @include width(100%,100%,46%);
    float:left;
    color:#333333;
    @include margin-right(0,4%);
}
#page_staff .recruit .outer .right {
    @include width(100%,100%,46%);
    float:left;
    @include margin-left(0,0,4%);
    @include margin-top(6%,4%,0);
}
#page_staff .recruit .outer .right img {
    width:100%;
    height: auto;
}
#page_staff .recruit .outer .left p {
    @include size(13,18);
    @include tab_only {
        text-align: center;
    }
    @include sp_only {
        text-align: center;
    }
}
#page_staff .recruit .outer .left h4 {
    @include size(20,36);
    font-weight: bold;
    line-height: 1.3;
    @include tab_only {
        text-align: center;
    }
    @include sp_only {
        text-align: center;
    }

}
#page_staff .recruit .outer .left h4 .small {
    @include size(15,22);
    padding-left:10px;
}
#page_staff .recruit .outer .left dl {
    width:100%;
    border-bottom:1px solid #808080;
    @include padding(4% 0,4% 0,16px 0);
}
#page_staff .recruit .outer .left dl dt {
    @include width(100%,100%,15%);
    float:left;
    
}
#page_staff .recruit .outer .left dl dt .gray {
    background: #808080;
    color: #fff;
    padding: 3px 12px;
    border-radius: 6px;
    @include size(12,14);
    letter-spacing: 1px;
}
#page_staff .recruit .outer .left dl dd {
    @include width(100%,100%,85%);
    float:left;
    @include padding-left(0,0,10px);
    @include padding-top(2%,2%,0);

}
#page_staff .recruit .contact {
    width:100%;
    background: #6cbd33;
    color:#fff;
    font-weight: bold;
    padding:20px 0 15px;
    margin-top:30px;
}
#page_staff .recruit .title {
    @include width(92%,92%,50%);
    float:left;
    text-align: center;
    @include size(16,22);
    line-height: 1.4;
    @include tab_only {
        float:none;
        margin:0 auto;
        padding-bottom:2%;
    }
    @include sp_only {
        float:none;
        margin:0 auto;
        padding-bottom:2%;
    }
}
#page_staff .recruit .tel {
    @include width(92%,92%,50%);
    float:left;
    text-align: center;
    font-family: 'arial';
    line-height: 1.2;
    border-left:1px solid #fff;
    @include tab_only {
        border-left:none;
        border-top:1px solid #fff;
        float:none;
        margin:0 auto;
        padding-top:2%;
    }
    @include sp_only {
        border-left:none;
        border-top:1px solid #fff;
        margin:0 auto;
        float:none;
        padding-top:2%;
    }
}
#page_staff .recruit .tel .num {
    @include size(18,28);
}
#page_staff .recruit .tel .time {
    @include size(12,15);
    font-weight: normal;
    padding-left:10px;
}
#page_staff .obi {
    background: url(../images/staff_obi.jpg) no-repeat center;
    background-size: cover;
    @include height(91px,182px);
}

#page_company .headline {
    @include size(20,28);
    border-bottom:2px dashed #b3b3b3;
    text-align: center;
    color:#333333;
    padding-bottom:20px;
    marging-bottom:20px;
}
#page_company #contents_wrap p {
    
    @include text-align(left,center,center);
}

#page_company .map iframe {
    width: 100%;
    @include height(160px,320px);
    vertical-align: bottom;
}
#page_company .obi {
    background: url(../images/company_obi.jpg) no-repeat center;
    background-size: cover;
    @include height(91px,182px);
}