@charset "UTF-8";
/* padding */
.pt_s {
  padding-top: 2%; }
  @media screen and (min-width: 768px) {
    .pt_s {
      padding-top: 10px; } }

.pt {
  padding-top: 4%; }
  @media screen and (min-width: 768px) {
    .pt {
      padding-top: 30px; } }

.pt_l {
  padding-top: 6%; }
  @media screen and (min-width: 768px) {
    .pt_l {
      padding-top: 50px; } }

.pb_s {
  padding-bottom: 2%; }
  @media screen and (min-width: 768px) {
    .pb_s {
      padding-bottom: 10px; } }

.pb {
  padding-bottom: 4%; }
  @media screen and (min-width: 768px) {
    .pb {
      padding-bottom: 30px; } }

.pb_l {
  padding-bottom: 6%; }
  @media screen and (min-width: 768px) {
    .pb_l {
      padding-bottom: 50px; } }

/* margin */
.mt_s {
  margin-top: 2%; }
  @media screen and (min-width: 768px) {
    .mt_s {
      margin-top: 10px; } }

.mt {
  margin-top: 4%; }
  @media screen and (min-width: 768px) {
    .mt {
      margin-top: 30px; } }

.mt_l {
  margin-top: 6%; }
  @media screen and (min-width: 768px) {
    .mt_l {
      margin-top: 50px; } }

.mb_s {
  margin-bottom: 2%; }
  @media screen and (min-width: 768px) {
    .mb_s {
      margin-bottom: 10px; } }

.mb {
  margin-bottom: 4%; }
  @media screen and (min-width: 768px) {
    .mb {
      margin-bottom: 30px; } }

.mb_l {
  margin-bottom: 6%; }
  @media screen and (min-width: 768px) {
    .mb_l {
      margin-bottom: 50px; } }

/* font-size */
.fsize_xl {
  font-size: 18px;
  font-size: 1.8rem; }
  @media screen and (min-width: 768px) {
    .fsize_xl {
      font-size: 24px;
      font-size: 2.4rem; } }

.fsize_l, #page_index section.bottom_menu h3 {
  font-size: 16px;
  font-size: 1.6rem; }
  @media screen and (min-width: 768px) {
    .fsize_l, #page_index section.bottom_menu h3 {
      font-size: 20px;
      font-size: 2rem; } }

.fsize, #mainvisual #vegas-msg p {
  font-size: 14px;
  font-size: 1.4rem; }
  @media screen and (min-width: 768px) {
    .fsize, #mainvisual #vegas-msg p {
      font-size: 16px;
      font-size: 1.6rem; } }

.fsize_s {
  font-size: 12px;
  font-size: 1.2rem; }
  @media screen and (min-width: 768px) {
    .fsize_s {
      font-size: 14px;
      font-size: 1.4rem; } }

.fsize_xs {
  font-size: 10px;
  font-size: 1rem; }
  @media screen and (min-width: 768px) {
    .fsize_xs {
      font-size: 12px;
      font-size: 1.2rem; } }

/* テキスト用BOX pタグの下に改行が入る。 */
div.textbox p {
  margin-bottom: 1em; }
  div.textbox p:last-child {
    margin-bottom: 0; }

/********************************************************************************
　--index
*********************************************************************************/
#page_index section.mainvisual {
  min-height: 460px;
  background-size: cover;
  padding: 4% 0 4%;
  margin-top: 52px; }
  @media screen and (min-width: 768px) {
    #page_index section.mainvisual {
      padding: 50px 0 50px; } }
  @media screen and (min-width: 1040px) {
    #page_index section.mainvisual {
      padding: 100px 0 50px; } }
  @media screen and (min-width: 768px) {
    #page_index section.mainvisual {
      margin-top: 52px; } }
  @media screen and (min-width: 1040px) {
    #page_index section.mainvisual {
      margin-top: 112px; } }
  @media (max-width: 767px) {
    #page_index section.mainvisual {
      min-height: 460px; } }

#page_index section.mainvisual .bx-wrapper {
  margin: 0 auto;
  box-shadow: none;
  border: none;
  width: 92%; }
  @media screen and (min-width: 768px) {
    #page_index section.mainvisual .bx-wrapper {
      width: 92%; } }
  @media screen and (min-width: 1040px) {
    #page_index section.mainvisual .bx-wrapper {
      width: 900px; } }

#page_index section.mainvisual #vegas-text {
  width: 470px;
  background: #fff;
  margin-left: auto;
  z-index: 99;
  margin-top: 0 !important;
  position: relative; }
  @media (max-width: 767px) {
    #page_index section.mainvisual #vegas-text {
      width: 92%;
      margin: 0 auto;
      bottom: 4%;
      position: absolute;
      left: 4%; } }

#page_index section.mainvisual #vegas-text:before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 10px;
  height: 100px;
  background-image: url(../images/maintext_l_line.svg);
  background-size: contain;
  vertical-align: middle;
  left: -5px;
  bottom: -3px; }

#page_index section.mainvisual #vegas-text:after {
  position: absolute;
  content: '';
  display: inline-block;
  width: 305px;
  height: 11px;
  background-image: url(../images/maintext_b_line.svg);
  background-size: contain;
  vertical-align: middle;
  left: -6px;
  bottom: -6px; }

#mainvisual #vegas-msg {
  margin-top: 0 !important;
  color: #000 !important;
  padding: 15px 20px;
  text-align: left; }

#mainvisual #vegas-msg h3 {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: 900; }
  @media screen and (min-width: 768px) {
    #mainvisual #vegas-msg h3 {
      font-size: 42px;
      font-size: 4.2rem; } }

#mainvisual #vegas-msg p {
  letter-spacing: -2px;
  padding-top: 10px;
  font-weight: normal; }
  @media (max-width: 767px) {
    #mainvisual #vegas-msg p {
      font-size: 12px; } }

@media (max-width: 767px) {
  #mainvisual #vegas-msg p br {
    display: none; } }

#mainvisual #vegas-msg h3 span {
  font-size: 12px;
  font-size: 1.2rem;
  display: block;
  color: #6cbd33;
  font-weight: normal; }
  @media screen and (min-width: 768px) {
    #mainvisual #vegas-msg h3 span {
      font-size: 16px;
      font-size: 1.6rem; } }

.vegas-wrapper {
  padding-top: 140px !important; }

#page_index section.top_menu {
  background: url(../images/index_topmenu_bg.jpg) repeat; }

#page_index section.top_menu h3 {
  font-weight: bold;
  text-shadow: 2px 2px 1px #fff, -2px 2px 1px #fff, 2px -2px 1px #fff, -2px -2px 1px #fff;
  color: #444;
  font-size: 24px;
  font-size: 15px;
  font-size: 1.5rem;
  display: flex;
  align-items: center; }
  @media screen and (min-width: 768px) {
    #page_index section.top_menu h3 {
      font-size: 24px;
      font-size: 2.4rem; } }

#page_index section.top_menu h3:before,
#page_index section.top_menu h3:after {
  content: "";
  flex-grow: 1;
  height: 2px;
  background: #444;
  display: block; }

#page_index section.top_menu h3:before {
  margin-right: 1em; }

#page_index section.top_menu h3:after {
  margin-left: 1em; }

#page_index section.top_menu h3 .green {
  color: #6cbd33; }

#page_index section.top_menu .grid_col3 .col {
  width: 32%;
  margin-right: 2%;
  margin-bottom: 2%; }
  #page_index section.top_menu .grid_col3 .col:nth-child(3n) {
    margin-right: 0; }

@media screen and (max-width: 650px) {
  #page_index section.top_menu .grid_col3 .col {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 4%; }

  .photo_title .photo {
    width: 35%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center; }

  .photo_title figure {
    border: none;
    background: #fff;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    position: relative; }

  .photo_title figcaption:after {
    position: absolute;
    top: 53%;
    right: 15px;
    display: block;
    content: "";
    width: 5px;
    height: 5px;
    margin-top: -3px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }

  .photo_title a:hover figure {
    border: none; }

  .photo_title figcaption {
    width: 65%;
    position: relative;
    text-align: left;
    display: flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    align-items: center;
    justify-content: center;
    line-height: 2; } }
#page_index section.bottom_menu .type1 {
  background: #fff; }

#page_index section.service .type2 {
  background: #e5e5e5; }

#page_index section.bottom_menu .photo1 {
  background: url(../images/index_bottommenu_photo1.jpg) no-repeat center;
  background-size: cover;
  height: 180px;
  margin-bottom: 0 !important;
  position: relative;
  width: 100%; }
  @media screen and (min-width: 768px) {
    #page_index section.bottom_menu .photo1 {
      height: 380px; } }
  @media screen and (min-width: 768px) {
    #page_index section.bottom_menu .photo1 {
      width: 100%; } }
  @media screen and (min-width: 1040px) {
    #page_index section.bottom_menu .photo1 {
      width: 60%; } }

#page_index section.bottom_menu .photo2 {
  background: url(../images/index_bottommenu_photo2.jpg) no-repeat center;
  background-size: cover;
  height: 180px;
  margin-bottom: 0 !important;
  position: relative;
  width: 100%; }
  @media screen and (min-width: 768px) {
    #page_index section.bottom_menu .photo2 {
      height: 380px; } }
  @media screen and (min-width: 768px) {
    #page_index section.bottom_menu .photo2 {
      width: 100%; } }
  @media screen and (min-width: 1040px) {
    #page_index section.bottom_menu .photo2 {
      width: 60%; } }

#page_index section.bottom_menu .photo3 {
  background: url(../images/index_bottommenu_photo3.jpg) no-repeat center;
  background-size: cover;
  height: 180px;
  margin-bottom: 0 !important;
  position: relative;
  width: 100%; }
  @media screen and (min-width: 768px) {
    #page_index section.bottom_menu .photo3 {
      height: 380px; } }
  @media screen and (min-width: 768px) {
    #page_index section.bottom_menu .photo3 {
      width: 100%; } }
  @media screen and (min-width: 1040px) {
    #page_index section.bottom_menu .photo3 {
      width: 60%; } }

#page_index section.bottom_menu .photo4 {
  background: url(../images/index_bottommenu_photo4.jpg) no-repeat center;
  background-size: cover;
  height: 180px;
  margin-bottom: 0 !important;
  position: relative;
  width: 100%; }
  @media screen and (min-width: 768px) {
    #page_index section.bottom_menu .photo4 {
      height: 380px; } }
  @media screen and (min-width: 768px) {
    #page_index section.bottom_menu .photo4 {
      width: 100%; } }
  @media screen and (min-width: 1040px) {
    #page_index section.bottom_menu .photo4 {
      width: 60%; } }

#page_index section.bottom_menu .enter-bottom {
  width: 100%;
  @incliude padding(2%,15px); }
  @media screen and (min-width: 768px) {
    #page_index section.bottom_menu .enter-bottom {
      width: 100%; } }
  @media screen and (min-width: 1040px) {
    #page_index section.bottom_menu .enter-bottom {
      width: 360px; } }

#page_index section.bottom_menu .type1 .enter-bottom {
  margin-right: auto; }

#page_index section.bottom_menu .type2 .enter-bottom {
  margin-left: auto; }

#page_index section.bottom_menu h3 {
  color: #6cbd33;
  border-bottom: 3px solid #b3b3b3;
  position: relative;
  font-size: 18px;
  font-size: 1.8rem;
  text-align: center; }
  @media screen and (min-width: 768px) {
    #page_index section.bottom_menu h3 {
      font-size: 22px;
      font-size: 2.2rem; } }

#page_index section.bottom_menu p {
  line-height: 1.4;
  font-size: 13px;
  font-size: 1.3rem;
  text-align: left; }
  @media screen and (min-width: 768px) {
    #page_index section.bottom_menu p {
      font-size: 15px;
      font-size: 1.5rem; } }

@media (min-width: 768px) and (max-width: 1040px) {
  #page_index section.bottom_menu .outer {
    padding-top: 2%; } }
@media (max-width: 767px) {
  #page_index section.bottom_menu .outer {
    padding-top: 2%; } }

#page_index section.bottom_menu .linkbtn1 {
  text-align: center; }

#page_index section.bottom_menu .outer {
  width: 100%; }
  @media (min-width: 768px) and (max-width: 1040px) {
    #page_index section.bottom_menu .outer {
      width: 52%;
      margin: 0 auto; } }
  @media (max-width: 767px) {
    #page_index section.bottom_menu .outer {
      width: 73%;
      margin: 0 auto; } }

#page_index section.bottom_menu .left {
  width: 46%;
  float: left; }

#page_index section.bottom_menu .right {
  width: 46%;
  float: left;
  margin-left: 8%; }

#page_index section.bottom_menu h3:after {
  content: ".";
  line-height: 0;
  display: block;
  overflow: hidden;
  position: absolute;
  bottom: -3px;
  width: 30%;
  border-bottom: 3px solid #6cbd33; }

/********************************************************************************
　--concept
*********************************************************************************/
#page_concept .top-title.concept {
  background: url(../images/concept_title.jpg) no-repeat center;
  background-size: cover;
  padding: 8% 0 18%; }
  @media screen and (min-width: 768px) {
    #page_concept .top-title.concept {
      padding: 60px 0 180px; } }

#page_concept .top-title.concept h3 {
  font-size: 15px;
  font-size: 1.5rem; }
  @media screen and (min-width: 768px) {
    #page_concept .top-title.concept h3 {
      font-size: 20px;
      font-size: 2rem; } }
  @media (max-width: 767px) {
    #page_concept .top-title.concept h3 {
      width: 92%;
      margin: 0 auto;
      color: #6cbd33;
      line-height: 1.5; } }
  @media screen and (max-width: 540px) {
    #page_concept .top-title.concept h3 {
      text-align: left; } }

#page_concept .top-title.concept h3 .line {
  border-bottom: 4px solid #6cbd33;
  padding-bottom: 10px; }
  @media (max-width: 767px) {
    #page_concept .top-title.concept h3 .line {
      border-bottom: none; } }

#page_concept .top-title.concept p {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.4;
  margin-top: 4%;
  font-weight: 600;
  color: #333333;
  letter-spacing: 3px; }
  @media screen and (min-width: 768px) {
    #page_concept .top-title.concept p {
      font-size: 32px;
      font-size: 3.2rem; } }
  @media screen and (min-width: 768px) {
    #page_concept .top-title.concept p {
      margin-top: 50px; } }

#page_concept .top-title.concept p .big {
  font-size: 20px;
  font-size: 2rem;
  display: block; }
  @media screen and (min-width: 768px) {
    #page_concept .top-title.concept p .big {
      font-size: 38px;
      font-size: 3.8rem; } }

#page_concept .top-title.concept p .green {
  color: #6cbd33; }

#page_concept section.concept {
  padding-top: 8%; }
  @media screen and (min-width: 768px) {
    #page_concept section.concept {
      padding-top: 60px; } }

#page_concept section.concept .headtitle {
  position: relative;
  border-bottom: 1px dashed #6cbd33;
  padding-bottom: 5px;
  margin-bottom: 30px;
  margin-left: 40px; }
  @media screen and (min-width: 768px) {
    #page_concept section.concept .headtitle {
      margin-left: 63px; } }

@media (max-width: 767px) {
  #page_concept section.concept .headtitle img {
    width: 212px; } }

#page_concept section.concept .headtitle:before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 60px;
  height: 60px;
  left: -62px;
  top: 1%;
  background-image: url(../images/concept_headtitle_icon.svg);
  background-size: contain;
  vertical-align: middle; }
  @media (max-width: 767px) {
    #page_concept section.concept .headtitle:before {
      width: 38px;
      height: 38px;
      left: -40px; } }

#page_concept section.concept .headtitle .num {
  margin-left: 1px;
  font-size: 26px;
  background-color: #f15a24;
  color: white;
  /* font-weight: bold; */
  top: 2px;
  position: relative;
  padding: 1px 9px;
  border-radius: 21px;
  font-family: 'arial'; }
  @media (max-width: 767px) {
    #page_concept section.concept .headtitle .num {
      font-size: 16px;
      padding: 1px 5px;
      top: 3px; } }

#page_concept section.concept .outer {
  width: 100%; }
  @media (max-width: 767px) {
    #page_concept section.concept .outer {
      padding-bottom: 4%; } }

#page_concept section.concept .outer .left {
  width: 100%;
  float: left;
  margin-right: 0; }
  @media screen and (min-width: 768px) {
    #page_concept section.concept .outer .left {
      width: 46%; } }
  @media screen and (min-width: 768px) {
    #page_concept section.concept .outer .left {
      margin-right: 4%; } }
  @media (max-width: 767px) {
    #page_concept section.concept .outer .left {
      margin-bottom: 8%; } }

#page_concept section.concept .outer .right {
  width: 100%;
  float: left; }
  @media screen and (min-width: 768px) {
    #page_concept section.concept .outer .right {
      width: 50%; } }

#page_concept section.concept .outer .photo {
  padding: 12px;
  box-shadow: 0px 0px 6px 3px #d8d8d8;
  position: relative;
  padding-top: 20px; }

#page_concept section.concept .outer .left .tape {
  position: absolute;
  top: -20px;
  left: 40%; }

#page_concept section.concept .outer .right h4 {
  color: #6cbd33;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: bold;
  letter-spacing: -1px; }
  @media screen and (min-width: 768px) {
    #page_concept section.concept .outer .right h4 {
      font-size: 24px;
      font-size: 2.4rem; } }
  @media (max-width: 767px) {
    #page_concept section.concept .outer .right h4 {
      text-align: center; } }

#page_concept section.concept .outer .right p {
  line-height: 1.4;
  letter-spacing: 0px;
  padding-top: 20px; }

#page_concept section.concept .obi img {
  width: 100%;
  padding-top: 40px; }
  @media (max-width: 767px) {
    #page_concept section.concept .obi img {
      padding-top: 0; } }

/********************************************************************************
　--sales
*********************************************************************************/
#page_sales .top-title {
  background: url(../images/sales_title.jpg) no-repeat center;
  background-size: cover;
  padding: 4% 0; }
  @media screen and (min-width: 768px) {
    #page_sales .top-title {
      padding: 4% 0; } }
  @media screen and (min-width: 1040px) {
    #page_sales .top-title {
      padding: 60px 0 120px; } }
  @media (min-width: 768px) and (max-width: 1040px) {
    #page_sales .top-title {
      background: #fff; } }
  @media (max-width: 767px) {
    #page_sales .top-title {
      background: #fff; } }

@media (min-width: 768px) and (max-width: 1040px) {
  #page_sales .sp-photo {
    width: 92%;
    margin: 0 auto;
    display: block; } }
@media (max-width: 767px) {
  #page_sales .sp-photo {
    width: 92%;
    margin: 0 auto;
    display: block; } }

#page_sales .sp-photo img {
  width: 100%; }

#page_sales .headline {
  font-size: 18px;
  font-size: 1.8rem;
  border-bottom: 2px dashed #b3b3b3;
  text-align: center;
  color: #333333;
  padding-bottom: 20px;
  marging-bottom: 20px; }
  @media screen and (min-width: 768px) {
    #page_sales .headline {
      font-size: 24px;
      font-size: 2.4rem; } }

#page_sales .top-title h3 {
  color: #4d4d4d;
  font-size: 17px;
  font-size: 1.7rem;
  padding-bottom: 4%;
  line-height: 1.4; }
  @media screen and (min-width: 768px) {
    #page_sales .top-title h3 {
      font-size: 24px;
      font-size: 2.4rem; } }
  @media screen and (min-width: 1040px) {
    #page_sales .top-title h3 {
      font-size: 30px;
      font-size: 3rem; } }
  @media screen and (min-width: 768px) {
    #page_sales .top-title h3 {
      padding-bottom: 40px; } }
  @media (max-width: 767px) {
    #page_sales .top-title h3 {
      width: 92%;
      margin: 0 auto; } }
  @media screen and (max-width: 370px) {
    #page_sales .top-title h3 {
      text-align: left; } }

@media screen and (max-width: 370px) {
  #page_sales .top-title h3 br {
    display: none; } }

#page_sales .top-title .outer {
  width: 92%;
  margin-left: auto;
  text-align: left;
  @inlucde padding-top(4%,60px); }
  @media screen and (min-width: 768px) {
    #page_sales .top-title .outer {
      width: 92%; } }
  @media screen and (min-width: 1040px) {
    #page_sales .top-title .outer {
      width: 54%; } }
  @media (min-width: 768px) and (max-width: 1040px) {
    #page_sales .top-title .outer {
      margin: 0 auto; } }
  @media (max-width: 767px) {
    #page_sales .top-title .outer {
      margin: 0 auto; } }

#page_sales .top-title .outer h4 {
  color: #6cbd33;
  font-size: 15px;
  font-size: 1.5rem;
  text-align: center; }
  @media screen and (min-width: 768px) {
    #page_sales .top-title .outer h4 {
      font-size: 24px;
      font-size: 2.4rem; } }
  @media screen and (min-width: 768px) {
    #page_sales .top-title .outer h4 {
      text-align: center; } }
  @media screen and (min-width: 1040px) {
    #page_sales .top-title .outer h4 {
      text-align: left; } }

@media screen and (max-width: 410px) {
  #page_sales .top-title .outer h4 {
    text-align: left; } }
#page_sales .top-title .outer p {
  padding-top: 2%;
  line-height: 1.7; }
  @media screen and (min-width: 768px) {
    #page_sales .top-title .outer p {
      padding-top: 20px; } }

#page_sales .top-title .outer p br {
  display: none; }
  @media screen and (min-width: 768px) {
    #page_sales .top-title .outer p br {
      display: none; } }
  @media screen and (min-width: 1040px) {
    #page_sales .top-title .outer p br {
      display: block; } }

@media (min-width: 768px) {
  #page_sales section.price {
    padding-bottom: 40px; } }
@media (min-width: 768px) and (max-width: 1040px) {
  #page_sales section.price {
    padding-bottom: 2%; } }
@media (max-width: 767px) {
  #page_sales section.price {
    padding-bottom: 2%; } }

#page_sales section.price .outer {
  position: relative; }
  @media (min-width: 768px) {
    #page_sales section.price .outer {
      padding-bottom: 45px; } }
  @media (min-width: 768px) and (max-width: 1040px) {
    #page_sales section.price .outer {
      padding-bottom: 0px; } }
  @media (max-width: 767px) {
    #page_sales section.price .outer {
      padding-bottom: 0px; } }

#page_sales section.price .msgbox {
  width: 450px;
  font-size: 13px;
  font-size: 1.3rem;
  position: absolute;
  right: 0;
  bottom: 20px;
  padding: 15px 20px;
  border: 4px solid #e6e6e6; }
  @media screen and (min-width: 768px) {
    #page_sales section.price .msgbox {
      font-size: 15px;
      font-size: 1.5rem; } }
  @media (min-width: 768px) and (max-width: 1040px) {
    #page_sales section.price .msgbox {
      position: relative;
      width: 100%;
      margin-top: 4%; } }
  @media (max-width: 767px) {
    #page_sales section.price .msgbox {
      position: relative;
      width: 100%;
      margin-top: 4%; } }

#page_sales section.price .msgbox .red {
  color: #c1272d; }

#page_sales .flow dl {
  width: 100%; }

#page_sales .flow dt {
  width: 100%;
  background: #6cbd33;
  color: #fff; }

#page_sales .flow dt .num {
  background: #4c9910;
  float: left;
  margin-right: 4%;
  padding: 4px 4%;
  font-family: 'arial';
  font-size: 16px;
  font-size: 1.6rem; }
  @media screen and (min-width: 768px) {
    #page_sales .flow dt .num {
      margin-right: 25px; } }
  @media screen and (min-width: 768px) {
    #page_sales .flow dt .num {
      padding: 7px 20px; } }
  @media screen and (min-width: 768px) {
    #page_sales .flow dt .num {
      font-size: 22px;
      font-size: 2.2rem; } }

#page_sales .flow dd {
  border-left: 2px solid #6cbd33;
  border-right: 2px solid #6cbd33;
  border-bottom: 2px solid #6cbd33;
  padding: 20px 20px 20px 60px; }
  @media (max-width: 767px) {
    #page_sales .flow dd {
      font-size: 13px; } }

@media (min-width: 768px) and (max-width: 1040px) {
  #page_sales .flow dd br {
    display: none; } }
@media (max-width: 767px) {
  #page_sales .flow dd br {
    display: none; } }

#page_sales .flow dt .text {
  font-size: 15px;
  font-size: 1.5rem;
  position: relative;
  top: 4px; }
  @media screen and (min-width: 768px) {
    #page_sales .flow dt .text {
      font-size: 20px;
      font-size: 2rem; } }
  @media screen and (min-width: 768px) {
    #page_sales .flow dt .text {
      top: 7px; } }

#page_sales .line {
  background: #00b900; }

@media (max-width: 767px) {
  #page_sales .line img {
    width: 250px; } }

#page_sales .line h4 {
  color: #ffff00;
  display: block;
  width: 100%;
  border-bottom: 1px solid #fff;
  text-align: center;
  font-size: 15px;
  font-size: 1.5rem; }
  @media screen and (min-width: 768px) {
    #page_sales .line h4 {
      font-size: 20px;
      font-size: 2rem; } }
  @media screen and (max-width: 500px) {
    #page_sales .line h4 {
      text-align: left; } }

#page_sales .line ul li {
  float: left;
  color: #fff;
  margin-right: 15px;
  margin-left: 10px;
  position: relative;
  padding-left: 25px;
  font-size: 13px;
  font-size: 1.3rem; }
  @media screen and (min-width: 768px) {
    #page_sales .line ul li {
      font-size: 15px;
      font-size: 1.5rem; } }
  @media (max-width: 767px) {
    #page_sales .line ul li {
      line-height: 1.7; } }

#page_sales .line ul li:before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 23px;
  height: 23px;
  left: 0px;
  top: 8%;
  background-image: url(../images/check_icon.svg);
  background-size: contain;
  vertical-align: middle; }
  @media (max-width: 767px) {
    #page_sales .line ul li:before {
      width: 15px;
      height: 15px;
      top: 16%; } }

#page_sales .line_cont {
  background: url(../images/sales_line_bg.jpg) repeat; }

#page_sales .line_cont h3 {
  background: #2cbf13;
  text-align: center;
  color: #fff;
  padding: 6px 0 10px;
  font-weight: bold;
  font-size: 16px;
  font-size: 1.6rem; }
  @media screen and (min-width: 768px) {
    #page_sales .line_cont h3 {
      font-size: 20px;
      font-size: 2rem; } }

#page_sales .line_cont ul {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  background: #fff;
  padding: 0; }
  @media screen and (min-width: 768px) {
    #page_sales .line_cont ul {
      padding: 10px 0; } }

#page_sales .line_cont ul li {
  min-height: 192px;
  float: left;
  width: 33.333%;
  padding: 0 2%; }
  @media (max-width: 767px) {
    #page_sales .line_cont ul li {
      width: 100%;
      padding: 0 4% 4%;
      min-height: 0; } }

#page_sales .line_cont ul li:first-of-type {
  border-right: 1px solid #00b900; }
  @media (max-width: 767px) {
    #page_sales .line_cont ul li:first-of-type {
      border-right: none;
      border-bottom: 1px solid #00b900; } }

#page_sales .line_cont ul li:last-of-type {
  border-left: 1px solid #00b900; }
  @media (max-width: 767px) {
    #page_sales .line_cont ul li:last-of-type {
      border-right: none;
      border-top: 1px solid #00b900;
      padding-bottom: 0;
      border-left: none; } }

#page_sales .line_cont dt {
  text-align: center;
  margin: 0px auto; }

#page_sales .line_cont dt .num {
  font-size: 20px;
  background-color: #ff931e;
  color: white;
  top: 2px;
  position: relative;
  padding: 2px 14px;
  display: inline-block;
  border-radius: 26px;
  font-family: 'arial';
  margin: 10px 0 10px; }

#page_sales .line_cont dt .text {
  text-align: center;
  line-height: 1.4;
  font-size: 13px;
  font-size: 1.3rem;
  padding: 0;
  position: relative; }
  @media screen and (min-width: 768px) {
    #page_sales .line_cont dt .text {
      text-align: left; } }
  @media screen and (min-width: 768px) {
    #page_sales .line_cont dt .text {
      padding: 0 16%; } }

#page_sales .line_cont .line_id {
  margin-top: 2%;
  padding: 10px 3px;
  background: #e1efd0; }
  @media screen and (min-width: 768px) {
    #page_sales .line_cont .line_id {
      margin-top: 20px; } }
  @media (max-width: 767px) {
    #page_sales .line_cont .line_id {
      display: inline-block;
      padding: 7px 4%; } }

#page_sales .line_cont .btn {
  margin-top: 2%; }
  @media screen and (min-width: 768px) {
    #page_sales .line_cont .btn {
      margin-top: 20px; } }

@media (max-width: 767px) {
  #page_sales .line_cont .btn img {
    width: 120px; } }

#page_sales .obi {
  background: url(../images/sales_obi.jpg) no-repeat center;
  background-size: cover;
  height: 91px; }
  @media screen and (min-width: 768px) {
    #page_sales .obi {
      height: 182px; } }

/********************************************************************************
　--staff
*********************************************************************************/
#page_staff .staff_list {
  background: url(../images/staff_bg.jpg) no-repeat center;
  background-size: cover; }

#page_staff .staff_list dl {
  width: 100%; }

#page_staff .staff_list dl dt {
  background: #fff;
  width: 38%;
  float: left; }
  @media (max-width: 767px) {
    #page_staff .staff_list dl dt {
      width: 100%; } }

#page_staff .staff_list dl dd {
  width: 62%;
  float: left;
  background: #fff;
  padding: 80px 40px;
  position: relative; }
  @media (max-width: 767px) {
    #page_staff .staff_list dl dd {
      width: 100%;
      padding: 4% 4% 12% 4%; } }

#page_staff .staff_list dl dd:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 80px 140px;
  border-color: transparent transparent #eff7e8 transparent; }
  @media (max-width: 767px) {
    #page_staff .staff_list dl dd:after {
      border-width: 0 0 34px 60px; } }

#page_staff .staff_list dd h3 {
  font-family: "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 18px;
  font-size: 1.8rem;
  border-bottom: 2px solid #6cbd33;
  padding-bottom: 6px; }
  @media screen and (min-width: 768px) {
    #page_staff .staff_list dd h3 {
      font-size: 32px;
      font-size: 3.2rem; } }

#page_staff .staff_list dd p {
  padding-top: 15px; }

#page_staff .staff_list dd h3 .job {
  font-size: 12px;
  font-size: 1.2rem;
  color: #6cbd33;
  font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Verdana, "ＭＳ ゴシック", Osaka-mono, sans-serif;
  padding-left: 20px; }
  @media screen and (min-width: 768px) {
    #page_staff .staff_list dd h3 .job {
      font-size: 16px;
      font-size: 1.6rem; } }

#page_staff .recruit h3 {
  background: #6cbd33;
  text-align: center;
  color: #fff;
  letter-spacing: 4px;
  padding: 6px 0 10px;
  font-weight: bold;
  font-size: 16px;
  font-size: 1.6rem; }
  @media screen and (min-width: 768px) {
    #page_staff .recruit h3 {
      font-size: 24px;
      font-size: 2.4rem; } }

#page_staff .recruit .outer {
  background: #fff;
  padding: 4%;
  border-left: 2px solid #6cbd33;
  border-bottom: 2px solid #6cbd33;
  border-right: 2px solid #6cbd33; }
  @media screen and (min-width: 768px) {
    #page_staff .recruit .outer {
      padding: 4%; } }
  @media screen and (min-width: 1040px) {
    #page_staff .recruit .outer {
      padding: 30px 40px; } }

#page_staff .recruit .outer .left {
  width: 100%;
  float: left;
  color: #333333;
  margin-right: 0; }
  @media screen and (min-width: 768px) {
    #page_staff .recruit .outer .left {
      width: 100%; } }
  @media screen and (min-width: 1040px) {
    #page_staff .recruit .outer .left {
      width: 46%; } }
  @media screen and (min-width: 768px) {
    #page_staff .recruit .outer .left {
      margin-right: 4%; } }

#page_staff .recruit .outer .right {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-top: 6%; }
  @media screen and (min-width: 768px) {
    #page_staff .recruit .outer .right {
      width: 100%; } }
  @media screen and (min-width: 1040px) {
    #page_staff .recruit .outer .right {
      width: 46%; } }
  @media screen and (min-width: 768px) {
    #page_staff .recruit .outer .right {
      margin-left: 0; } }
  @media screen and (min-width: 1040px) {
    #page_staff .recruit .outer .right {
      margin-left: 4%; } }
  @media screen and (min-width: 768px) {
    #page_staff .recruit .outer .right {
      margin-top: 4%; } }
  @media screen and (min-width: 1040px) {
    #page_staff .recruit .outer .right {
      margin-top: 0; } }

#page_staff .recruit .outer .right img {
  width: 100%;
  height: auto; }

#page_staff .recruit .outer .left p {
  font-size: 13px;
  font-size: 1.3rem; }
  @media screen and (min-width: 768px) {
    #page_staff .recruit .outer .left p {
      font-size: 18px;
      font-size: 1.8rem; } }
  @media (min-width: 768px) and (max-width: 1040px) {
    #page_staff .recruit .outer .left p {
      text-align: center; } }
  @media (max-width: 767px) {
    #page_staff .recruit .outer .left p {
      text-align: center; } }

#page_staff .recruit .outer .left h4 {
  font-size: 20px;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.3; }
  @media screen and (min-width: 768px) {
    #page_staff .recruit .outer .left h4 {
      font-size: 36px;
      font-size: 3.6rem; } }
  @media (min-width: 768px) and (max-width: 1040px) {
    #page_staff .recruit .outer .left h4 {
      text-align: center; } }
  @media (max-width: 767px) {
    #page_staff .recruit .outer .left h4 {
      text-align: center; } }

#page_staff .recruit .outer .left h4 .small {
  font-size: 15px;
  font-size: 1.5rem;
  padding-left: 10px; }
  @media screen and (min-width: 768px) {
    #page_staff .recruit .outer .left h4 .small {
      font-size: 22px;
      font-size: 2.2rem; } }

#page_staff .recruit .outer .left dl {
  width: 100%;
  border-bottom: 1px solid #808080;
  padding: 4% 0; }
  @media screen and (min-width: 768px) {
    #page_staff .recruit .outer .left dl {
      padding: 4% 0; } }
  @media screen and (min-width: 1040px) {
    #page_staff .recruit .outer .left dl {
      padding: 16px 0; } }

#page_staff .recruit .outer .left dl dt {
  width: 100%;
  float: left; }
  @media screen and (min-width: 768px) {
    #page_staff .recruit .outer .left dl dt {
      width: 100%; } }
  @media screen and (min-width: 1040px) {
    #page_staff .recruit .outer .left dl dt {
      width: 15%; } }

#page_staff .recruit .outer .left dl dt .gray {
  background: #808080;
  color: #fff;
  padding: 3px 12px;
  border-radius: 6px;
  font-size: 12px;
  font-size: 1.2rem;
  letter-spacing: 1px; }
  @media screen and (min-width: 768px) {
    #page_staff .recruit .outer .left dl dt .gray {
      font-size: 14px;
      font-size: 1.4rem; } }

#page_staff .recruit .outer .left dl dd {
  width: 100%;
  float: left;
  padding-left: 0;
  padding-top: 2%; }
  @media screen and (min-width: 768px) {
    #page_staff .recruit .outer .left dl dd {
      width: 100%; } }
  @media screen and (min-width: 1040px) {
    #page_staff .recruit .outer .left dl dd {
      width: 85%; } }
  @media screen and (min-width: 768px) {
    #page_staff .recruit .outer .left dl dd {
      padding-left: 0; } }
  @media screen and (min-width: 1040px) {
    #page_staff .recruit .outer .left dl dd {
      padding-left: 10px; } }
  @media screen and (min-width: 768px) {
    #page_staff .recruit .outer .left dl dd {
      padding-top: 2%; } }
  @media screen and (min-width: 1040pxpx) {
    #page_staff .recruit .outer .left dl dd {
      padding-top: 0; } }

#page_staff .recruit .contact {
  width: 100%;
  background: #6cbd33;
  color: #fff;
  font-weight: bold;
  padding: 20px 0 15px;
  margin-top: 30px; }

#page_staff .recruit .title {
  width: 92%;
  float: left;
  text-align: center;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.4; }
  @media screen and (min-width: 768px) {
    #page_staff .recruit .title {
      width: 92%; } }
  @media screen and (min-width: 1040px) {
    #page_staff .recruit .title {
      width: 50%; } }
  @media screen and (min-width: 768px) {
    #page_staff .recruit .title {
      font-size: 22px;
      font-size: 2.2rem; } }
  @media (min-width: 768px) and (max-width: 1040px) {
    #page_staff .recruit .title {
      float: none;
      margin: 0 auto;
      padding-bottom: 2%; } }
  @media (max-width: 767px) {
    #page_staff .recruit .title {
      float: none;
      margin: 0 auto;
      padding-bottom: 2%; } }

#page_staff .recruit .tel {
  width: 92%;
  float: left;
  text-align: center;
  font-family: 'arial';
  line-height: 1.2;
  border-left: 1px solid #fff; }
  @media screen and (min-width: 768px) {
    #page_staff .recruit .tel {
      width: 92%; } }
  @media screen and (min-width: 1040px) {
    #page_staff .recruit .tel {
      width: 50%; } }
  @media (min-width: 768px) and (max-width: 1040px) {
    #page_staff .recruit .tel {
      border-left: none;
      border-top: 1px solid #fff;
      float: none;
      margin: 0 auto;
      padding-top: 2%; } }
  @media (max-width: 767px) {
    #page_staff .recruit .tel {
      border-left: none;
      border-top: 1px solid #fff;
      margin: 0 auto;
      float: none;
      padding-top: 2%; } }

#page_staff .recruit .tel .num {
  font-size: 18px;
  font-size: 1.8rem; }
  @media screen and (min-width: 768px) {
    #page_staff .recruit .tel .num {
      font-size: 28px;
      font-size: 2.8rem; } }

#page_staff .recruit .tel .time {
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: normal;
  padding-left: 10px; }
  @media screen and (min-width: 768px) {
    #page_staff .recruit .tel .time {
      font-size: 15px;
      font-size: 1.5rem; } }

#page_staff .obi {
  background: url(../images/staff_obi.jpg) no-repeat center;
  background-size: cover;
  height: 91px; }
  @media screen and (min-width: 768px) {
    #page_staff .obi {
      height: 182px; } }

#page_company .headline {
  font-size: 20px;
  font-size: 2rem;
  border-bottom: 2px dashed #b3b3b3;
  text-align: center;
  color: #333333;
  padding-bottom: 20px;
  marging-bottom: 20px; }
  @media screen and (min-width: 768px) {
    #page_company .headline {
      font-size: 28px;
      font-size: 2.8rem; } }

#page_company #contents_wrap p {
  text-align: left; }
  @media screen and (min-width: 768px) {
    #page_company #contents_wrap p {
      text-align: center; } }
  @media screen and (min-width: 1040px) {
    #page_company #contents_wrap p {
      text-align: center; } }

#page_company .map iframe {
  width: 100%;
  height: 160px;
  vertical-align: bottom; }
  @media screen and (min-width: 768px) {
    #page_company .map iframe {
      height: 320px; } }

#page_company .obi {
  background: url(../images/company_obi.jpg) no-repeat center;
  background-size: cover;
  height: 91px; }
  @media screen and (min-width: 768px) {
    #page_company .obi {
      height: 182px; } }

/*# sourceMappingURL=page.css.map */
